{
  "log": {
    "_recordingName": "IgaScopeOps/exportScope()/2: Export non-existing scope by ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "34f9cf54c62be8fa850227b2a1a2d81a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope/cfef12ab-88e8-4d40-9553-27e50501d699"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 77,
            "text": "{\"message\":\"Cannot find scope with id: cfef12ab-88e8-4d40-9553-27e50501d699\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4d-YVsvUbJS6Sj4wPWfsmxyBaLnUjM\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "037b5e9c-6c4b-4019-ae2d-b001ddcb1671"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 164,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
