{
  "log": {
    "_recordingName": "IgaScopeOps/deleteScopeByName()/1: Delete existing scope by name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "53505d69b471a6255e569a47f1fae305",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "name eq \"scope4\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope?_queryFilter=name%20eq%20%22scope4%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 491,
            "text": "{\"result\":[{\"description\":\"test scope for contains filter\",\"id\":\"af71f4f1-843b-4b7a-bbdc-007bdf2cde69\",\"name\":\"scope4\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"contains\":{\"in_string\":\"user._id\",\"search_string\":{\"literal\":\"\"}}}]}}},\"status\":\"active\",\"targetCondition\":{},\"_rev\":2,\"metadata\":{\"modifiedDate\":\"2026-05-21T19:46:05.217Z\",\"createdDate\":\"2026-05-21T19:44:45.803567382Z\"}}],\"searchAfterKey\":[\"af71f4f1-843b-4b7a-bbdc-007bdf2cde69\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1eb-a1PF2dEaFinqNPBqjH3x3cDwWYI\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "c7081200-78f5-437c-94f7-cc041bb5de78"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 211,
      },
      {
        "_id": "209523ab3d61eb0bcbd689f86ee17b1d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope/af71f4f[...]
