{
  "log": {
    "_recordingName": "IgaScopeOps/deleteScopeByName()/1: Delete existing scope by name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d762e60fa25737edf7ae6613b69830d3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "name eq \"test_scope_4\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope?_queryFilter=name%20eq%20%22test_scope_4%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 570,
            "text": "{\"result\":[{\"id\":\"0c059c42-d919-4b94-8119-f5e6e1501034\",\"_rev\":1,\"name\":\"test_scope_4\",\"description\":\"Test scope: test_scope_4\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}}},\"permissions\":{\"viewGrants\":true,\"viewUserAccess\":true},\"entity\":{\"class\":\"managed/user\",\"type\":\"string\"},\"metadata\":{\"modifiedDate\":\"2026-05-20T17:46:15.799620634Z\",\"createdDate\":\"2026-05-20T17:46:15.799618945Z\"}}],\"searchAfterKey\":[\"0c059c42-d919-4b94-8119-f5e6e1501034\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"23a-X97CvPxJHSKwE246BthPkecjB5c\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "1c3ab8fa-a396-4556-88c8-d0605263a92e"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 233,
      },
      {
        "_id": "e2574cbdeb2260a7135b9182f572fab7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope/0c059c4[...]
