{
  "log": {
    "_recordingName": "IgaScopeOps/exportScopeByName()/1: Export existing scope by name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "80ae948f9f9f5a5bd89aac657f535ecc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "name eq \"scope2\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope?_queryFilter=name%20eq%20%22scope2%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 484,
            "text": "{\"result\":[{\"description\":\"test scope for is no filter\\n\",\"id\":\"9db2e5b6-e9e1-483e-886a-53e2c47f8d74\",\"name\":\"scope2\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"not_equals\":{\"left\":\"user.city\",\"right\":{\"literal\":\"Utah\"}}}]}}},\"status\":\"active\",\"targetCondition\":{},\"_rev\":3,\"metadata\":{\"modifiedDate\":\"2026-05-21T19:45:39.822Z\",\"createdDate\":\"2026-05-21T19:44:51.830923986Z\"}}],\"searchAfterKey\":[\"9db2e5b6-e9e1-483e-886a-53e2c47f8d74\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1e4-+3beEGbWNvqPgpSDT7TCyST7s6Q\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "49fe21e9-0a57-496f-9c70-ce71da2a50bb"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 350,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
