{
  "log": {
    "_recordingName": "IgaConfigOps/updateConfig()/1: Update full IGA config",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "edb70b289ed90e0a33ac759bd2e9b436",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/config"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1403,
            "text": "{\"iga_access_request\":{\"requireRequestJustification\":false,\"requireRejectJustification\":false,\"requireApproveJustification\":false,\"preventRequestWithViolation\":false,\"requireRequestJustificationWithViolation\":false,\"defaultApprover\":\"\",\"allowSelfApproval\":false,\"maxManualRoleMembers\":1000},\"iga_global\":{\"enableScoping\":false},\"iga_ui_config\":{\"lcmSettings\":{\"entitlement\":{\"enabled\":false},\"organization\":{\"enabled\":false},\"role\":{\"enabled\":false},\"user\":{\"enabled\":true}}},\"iga_autoid_integration\":{\"enableAutoId\":false,\"highScorePercentThreshold\":80,\"mediumScorePercentThreshold\":50,\"lowScorePercentThreshold\":30,\"training_features_filter\":[\"user.managerId\"],\"roleMiningConfidenceThreshold\":0.75,\"roleMiningMembershipThreshold\":30,\"roleMiningEntitlementThreshold\":1,\"enableFeatureRecommendation\":true,\"maxRecommendedFeatures\":10,\"featuresToSkipDuringRecommendation\":[\"_eventMetadata\",\"_rev\",\"accountStatus\",\"assignedDashboard\",\"cn\",\"entityType\",\"fr\",\"givenName\",\"id\",\"mail\",\"manager\",\"metadata\",\"sn\",\"userId\",\"userName\",\"passwordLastChangedTime\",\"passwordExpirationTime\",\"scopes\",\"adminOfOrg\",\"memberOfOrg\",\"ownerOfApp\",\"ownerOfOrg\",\"roles\",\"authzRoles\",\"applications\",\"assignments\",\"groups\",\"reports\"]},\"iga_notification\":{\"notificationPollingBatchSize\":50,\"notificationSendDelay\":1000,\"notificationRetryDelay\":60000,\"notificationMaxRetries\":3},\"iga-file\":{},\"feature_recommendation\":{\"result\":[]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"57b-UlAO7g//3u8orUebTQCHXLA/2dw\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "1c2ec1ed-a572-4d1b-9695-00531b14d46c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 127,
      },
      {
        "_id": "15566a7f3b80b1cf0e1beea77559623c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"iga_access_request\":{\"requireRequestJustification\":false,\"requireRejectJustification\":false,\"requireApproveJustification\":false,\"preventRequestWithViolation\":false,\"requireRequestJustificationWithViolation\":false,\"defaultApprover\":\"\",\"allowSelfApproval\":false,\"maxManualRoleMembers\":1000},\"iga_global\":{\"enableScoping\":false},\"iga_ui_config\":{\"lcmSettings\":{\"entitlement\":{\"enabled\":false},\"organization\":{\"enabled\":false},\"role\":{\"e[...]
