{
  "log": {
    "_recordingName": "IgaScopeOps/exportScopes()/1: Export existing scopes",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e7cd3b87a8fac53fbc7ad4f476537527",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope?_queryFilter=true&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 14110,
            "text": "{\"result\":[{\"id\":\"9035fc62-91e3-44af-b84b-c745699ba09b\",\"name\":\"testScope6\",\"description\":\"Test scope: testScope6\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{\"and\":[{\"contains\":{\"search_string\":{\"literal\":\"1\"},\"in_string\":\"user._id\"}},{\"not_contains\":{\"search_string\":{\"literal\":\"2\"},\"in_string\":\"user.accountStatus\"}},{\"or\":[{\"gte\":{\"right\":{\"literal\":1},\"left\":\"user.frIndexedInteger1\"}},{\"gt\":{\"right\":{\"literal\":2},\"left\":\"user.frIndexedInteger1\"}},{\"lte\":{\"right\":{\"literal\":3},\"left\":\"user.frIndexedInteger1\"}},{\"lt\":{\"right\":{\"literal\":4},\"left\":\"user.frIndexedInteger1\"}}]},{\"and\":[{\"equals\":{\"right\":{\"literal\":\"3\"},\"left\":\"user.accountStatus\"}},{\"not_equals\":{\"right\":{\"literal\":\"4\"},\"left\":\"user.accountStatus\"}},{\"or\":[{\"starts_with\":{\"prefix\":{\"literal\":\"5\"},\"value\":\"user.city\"}},{\"ends_with\":{\"suffix\":{\"literal\":\"6\"},\"value\":\"user.country\"}}]}]}]}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}},\"role\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"starts_with\":{\"prefix\":{\"literal\":\"1\"},\"value\":\"catalog.role._id\"}},{\"equals\":{\"right\":{\"literal\":false},\"left\":\"catalog.role.glossary.Test Boolean\"}}]}},\"entitlement\":{\"version\":\"v2\",\"filter\":{}},\"user\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"not_equals\":{\"right\":{\"literal\":\"a\"},\"left\":\"user.city\"}},{\"and\":[{\"not_equals\":{\"right\":{\"literal\":\"b\"},\"left\":\"user.country\"}}]}]}}},\"permissions\":{\"createEntitlement\":true,\"modifyEntitlement\":true,\"viewGrants\":true,\"createUser\":true,\"modifyUser\":true,\"deleteUser\":true,\"viewUserAccess\":true,\"createRole\":true,\"modifyRole\":true,\"publishRole\":true,\"deleteRole\":true},\"_rev\":1,\"metadata\":{\"modifiedDate\":\"2026-09-30T16:12:47.124648193Z\",\"createdDate\":\"2026-09-30T16:12:47.124647293Z\"}},{\"id\":\"767e6a29-353a-4a99-9f99-84c8925cf20e\",\"name\":\"testScope8\",\"description\":\"Test scope: testScope8\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{\"and\":[{\"contains\":{\"search_string\":{\"literal\":\"1\"},\"in_string\":\"user._id\"}},{\"not_contains\":{\"search_string\":{\"literal\":\"2\"},\"in_string\":\"user.accountStatus\"}},{\"or\":[{\"gte\":{\"right\":{\"literal\":1},\"left\":\"user.frIndexedIntege[...]
