{
  "log": {
    "_recordingName": "SecretStoreOps/Cloud Tests/exportSecretStores()/2: Export global SecretStores",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0ad864c3fb400957b108be42352a44f0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a74bfb06-7fef-4f88-b812-a07930279755"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/global-config/secrets/stores/GoogleSecretManagerSecretStoreProvider/ESV"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 114,
            "text": "{\"code\":403,\"reason\":\"Forbidden\",\"message\":\"This operation is not available in PingOne Advanced Identity Cloud.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 40,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
