{
  "log": {
    "_recordingName": "SecretStoreOps/Cloud Tests/readSecretStoreMapping()/1: Read ESV secret store mapping",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "47b25fe3be215efe696b27d4bfb98b5c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-07ba7db0-33c5-4c65-aa53-e89ad3a314fc"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/secrets/stores/GoogleSecretManagerSecretStoreProvider/ESV/mappings/am.services.httpclient.mtls.clientcert.testClientCert.secret"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 261,
            "text": "{\"_id\":\"am.services.httpclient.mtls.clientcert.testClientCert.secret\",\"_rev\":\"243715290\",\"secretId\":\"am.services.httpclient.mtls.clientcert.testClientCert.secret\",\"aliases\":[\"esv-test-client-cert\"],\"_type\":{\"_id\":\"mappings\",\"name\":\"Mappings\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.0"
            },
            {
              "name": "etag",
              "value": "\"243715290\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-07ba7db0-33c5-4c65-aa53-e89ad3a314fc"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 107,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
