{
  "log": {
    "_recordingName": "AmConfigOps/Cloud Tests/exportAmConfigEntities()/1: Export AM Config Entities",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fc71be44855f4e764537c68893e9a626",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-45cd2fa3-17ea-47ec-96f4-86c21a6c11cd"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/global-config/realms/?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 331,
            "text": "{\"result\":[{\"_id\":\"L2FscGhh\",\"_rev\":\"362268810\",\"parentPath\":\"/\",\"active\":true,\"name\":\"alpha\",\"aliases\":[]},{\"_id\":\"L2JyYXZv\",\"_rev\":\"480875699\",\"parentPath\":\"/\",\"active\":true,\"name\":\"bravo\",\"aliases\":[]}],\"resultCount\":2,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.0,resource=1.0, resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-45cd2fa3-17ea-47ec-96f4-86c21a6c11cd"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 232,
      },
      {
        "_id": "1ee245d6a72b8aeb85a5c7986e8ba2f8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-45cd2fa3-17ea-47ec-96f4-86c21a6c11cd"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/applicationtypes?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1341,
            "text": "{\"result\":[{\"_id\":\"umaApplicationType\",\"name\":\"umaApplicationType\",\"actions\":{},\"resourceComparator\":\"org.forgerock.openam.uma.UmaPolicyResourceMatcher\",\"applicationClassName\":\"com.sun.identity.entitlement.Application\",\"saveIndex\":\"org.forgerock.openam.uma.UmaPolicySaveIndex\",\"searchIndex\":\"org.forgerock.openam.uma.UmaPolicySearchIndex\"},{\"_id\":\"sunAMDelegationService\",\"name\":\"sunAMDelegationService\",\"actions\":{\"READ\":true,\"MODIFY\":true,\"DELEGATE\":true},\"resourceComparator\":\"com.sun.identity.entitlement.RegExResourceName\",\"applicationClassName\":\"com.sun.identity.entitlement.Application\",\"saveIndex\":\"com.sun.identity.entitlement.opensso.DelegationResourceNameIndexGenerator\",\"searchIndex\":\"com.sun.identity.entitlement.opensso.DelegationResourceNameSplitter\"},{\"_id\":\"iPlanetAMWebAgentService\",\"name\":\"iPlanetAMWebAgentService\",\"actions\":{\"HEAD\":true,\"DELETE\":true,\"POST\":true,\"GET\":true,\"OPTIONS\":true,\"PUT\":true,\"PATCH\":true},\"resourceComparator\":\"com.sun.identity.entitlement.URLResourceName\",\"applicationClassName\":\"com.sun.identity.entitlement.Application\",\"saveIndex\":\"org.forgerock.openam.entitlement.indextree.TreeSaveIndex\",\"searchIndex\":\"org.forgerock.openam.entitlement.indextree.TreeSearchIndex\"}],\"resultCount\":3,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":0}"
          },
          "headers": [
            {
        [...]
