{
  "log": {
    "_recordingName": "IgaScopeOps/deleteScopes()/1: Delete all scopes",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e7cd3b87a8fac53fbc7ad4f476537527",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope?_queryFilter=true&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3269,
            "text": "{\"result\":[{\"description\":\"\",\"id\":\"177df908-d788-4513-bc29-5d9cccc35744\",\"name\":\"User LCM Test\",\"permissions\":{\"createUser\":true},\"sourceCondition\":{\"user\":{\"filter\":{\"or\":[{\"equals\":{\"left\":\"user._id\",\"right\":{\"literal\":\"6a2d0e09-a9ac-41ca-af24-8af052c480f2\"}}},{\"equals\":{\"left\":\"user.userName\",\"right\":{\"literal\":\"phh-parent-org-admin\"}}}]},\"version\":\"v2\"}},\"status\":\"active\",\"targetCondition\":{\"user\":{\"filter\":{},\"version\":\"v2\"}},\"_rev\":1,\"metadata\":{\"modifiedDate\":\"2026-05-21T19:44:44.98922982Z\",\"createdDate\":\"2026-05-21T19:44:44.989200356Z\"}},{\"description\":\"A test scope for ends with filter\",\"id\":\"17fa81f2-6553-4d9f-87f7-1160c5e975ad\",\"name\":\"ends-with-scope\",\"sourceCondition\":{\"user\":{\"filter\":{\"or\":[{\"ends_with\":{\"suffix\":{\"literal\":\"1\"},\"value\":\"user._id\"}}]},\"version\":\"v2\"}},\"status\":\"active\",\"targetCondition\":{},\"_rev\":1,\"metadata\":{\"modifiedDate\":\"2026-05-21T19:44:47.81532274Z\",\"createdDate\":\"2026-05-21T19:44:47.815291184Z\"}},{\"description\":\"test scope for does not contain filter\",\"id\":\"2de3682d-9de9-4372-bfa0-9c71b8549db3\",\"name\":\"does-not-contain-test\",\"sourceCondition\":{\"user\":{\"filter\":{\"or\":[{\"not_contains\":{\"in_string\":\"user.city\",\"search_string\":{\"literal\":\"Utah\"}}}]},\"version\":\"v2\"}},\"status\":\"active\",\"targetCondition\":{},\"_rev\":1,\"metadata\":{\"modifiedDate\":\"2026-05-21T19:44:46.834676731Z\",\"createdDate\":\"2026-05-21T19:44:46.834648429Z\"}},{\"description\":\"\",\"id\":\"3c4cbbdd-aa24-4b6f-9b85-04b563d81896\",\"name\":\"test\",\"permissions\":{\"createEntitlement\":true,\"modifyEntitlement\":true,\"viewGrants\":true,\"createUser\":true,\"modifyUser\":true,\"deleteUser\":true,\"viewUserAccess\":true,\"createRole\":true,\"modifyRole\":true,\"publishRole\":true,\"deleteRole\":true},\"sourceCondition\":{\"user\":{\"filter\":{\"and\":[{\"not_contains\":{\"in_string\":\"user.stateProvince\",\"search_string\":{\"literal\":\"Utah\"}}}]},\"version\":\"v2\"}},\"status\":\"active\",\"targetCondition\":{\"application\":{\"filter\":{},\"version\":\"v2\"},\"entitlement\":{\"filter\":{},\"version\":\"v2\"},\"role\":{\"filter\":{},\"version\":\"v2\"},\"user\":{\"filter\":{\"or\":[{\"ends_with\":{\"suffix\":{\"literal\":\"s\"},\"value\":\"user.accountStatus\"}}]},\"version\":\"v2\"}},\"_rev\":1,\"metadata\":{\"modifiedDate\":\"2026-05-21T19:44:59.756985197Z\",\"createdDate\":\"2026-05-21T19:44:59.756962185Z\"}},{\"description\":\"Description of the put scope request\",\"id\":\"43e2c34b-f358-4316-a233-82c963f805ca\",\"name\":\"New Scope\",\"sourceCondition\":{\"user\":{\"filter\":{\"and\":[]},\"version\":\"v2\"}},\"status\":\"active\",\"targetCondition\":{\"application\":{\"filter\":{\"and\":[]},\"version\":\"v2\"}},\"_rev\":1,\"metadata\":{\"modifiedDate\":\"2026-05-21T19:44:43.42658293Z\",\"createdDate\":\"2026-05-21T19:44:43.426510706Z\"}},{\"description\":\"Allows employees (frIndexedInteger1 eq 0) to view other employee objects\",\"id\":\"dd0466f4-c4d9-4eba-8d10-e2f131eab905\",\"name\":\"phh-delegate-visibility\",\"sourceCondition\":{\"user\":{\"filter\":{\"and\":[{\"equals\":{\"left\":\"user.frIndexedInteger1\",\"right\":{\"literal\":0}}}]},\"version\":\"v2\"}},\"status\":\"inactive\",\"targetCondition\":{\"user\":{\"filter\":{\"and\":[{\"equals\":{\"left\":\"user.frIndexedInteger1\",\"right\":{\"literal\":0}}}]},\"version\":\"v2\"}},\"_rev\":1,\"metadata\":{\"modifiedDate\":\"2026-05-21T19:44:52.982778308Z\",\"createdDate\":\"2026-05-21T19:44:52.982757902Z\"}}],\"searchAfterKey\":[\"dd0466f4-c4d9-4eba-8d10-e2f131eab905\"],\"totalCount\":6,\"resultCount\":6}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"cc5-1LOO3fiBaBF6m5fdyHW1N9xNxR4\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "47312986-27b2-43a7-af5d-6444b699ace5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 214,
      },
      {
        "_id": "e4f20af32486655898784c83906a956f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope/177df90[...]
