{
  "log": {
    "_recordingName": "IgaSodPolicyOps/exportPoliciesByName()/1: Export existing policy by name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "47f56d0d9afdb9d6547079e2e8808bc4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "name eq \"frodo-test-existing\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy?_queryFilter=name%20eq%20%22frodo-test-existing%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 639,
            "text": "{\"result\":[{\"name\":\"frodo-test-existing\",\"description\":\"this is a test policy\",\"policyOwner\":{\"givenName\":\"Frodo\",\"id\":\"managed/user/0ece145b-1467-4cac-b472-f8f34dfaeef3\",\"mail\":\"test@mail.com\",\"sn\":\"Test\",\"userName\":\"frodo-test\"},\"policyRuleIds\":[\"df95d487-a251-458d-8299-14f2b131264c\"],\"policyRuleNames\":[\"test rule\"],\"active\":true,\"id\":\"df9592c5-d877-445a-be00-dede057eedd3\",\"scheduleId\":\"policySchedulea1111111111111111111111111111111\",\"metadata\":{\"modifiedDate\":\"2026-06-05T20:35:26.207547362Z\",\"createdDate\":\"2026-06-05T20:35:26.207545583Z\"}}],\"searchAfterKey\":[\"df9592c5-d877-445a-be00-dede057eedd3\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"27f-of/BtQ+q/z2fOWcLVB81awTqQlo\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "0626c419-b0b0-40f6-907a-65e8d98b8b21"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 157,
      },
      {
        "_id": "1e9897af33ed114246cf9f9cf54854ec",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy/rule/df95d487-a251-458d-8299-14f2b131264c"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 888,
            "text": "[\"Gy8GAMT/1vR/tc2cX1aYp9j5pdcbvBomCBnEvOI4/b07/yxbaS1cq2VROMbALNAw/2CtAVbCTxvTqMvm2se5tZovBTA87JVYSy5wNDIUIk9xE2bLEOgWzL/gMRrvoBD3ZtqYaUMbuuW8nkd2kaLx7kuwUIDAguVzXX6cLb87dxygFgzmxO6tIoDHZK1xEDAdFPYieoLubJ44nJVp1XSUl0nd1llS9FmW7Fj3yY7qrNpVRN2uhcBIxvb4K+6PZOxW+xECk4PCxKdLCMwTB52pq8DJeFv+Sd/2JR3NiaFimFlg0uQ+Xx55glpwDHwycgHReMeRubxV4A0Xxtc9tQAjDCe7zVhGzFDgr06AxcRIF09K7PEciH2hNhUYTTQDR[...]
