{
  "log": {
    "_recordingName": "JourneyOps/enableJourney()/1: Enable disabled journey 'FrodoTestJourney6'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e8a0eef4e7b1e5d6b53c75636e448bfa",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-fca4e2b9-9618-40cb-8309-67bd1e555d27"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..8ADm8E9ChHfmpLvfBT2fpw.Ie7Q_w-oat4FKbbeIxua-zpNepJZp13cfP[...]
