{
  "log": {
    "_recordingName": "IgaGlossaryOps/exportGlossarySchemaByName()/1: Export existing glossary schema by name and objectype",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8d463acac6cf2c353a09b631735d4450",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"targetFilter\":{\"operator\":\"AND\",\"operand\":[{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"name\",\"targetValue\":\"testBoolean\"}},{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"objectType\",\"targetValue\":\"/openidm/managed/role\"}}]}}"
          },
          "queryString": [
            {
              "name": "pageSize",
              "value": "10000"
            },
            {
              "name": "pageNumber",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/glossary/schema/search?pageSize=10000&pageNumber=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 492,
            "text": "{\"result\":[{\"name\":\"testBoolean\",\"description\":\"Test Boolean Description\",\"displayName\":\"Test Boolean Display Name\",\"type\":\"boolean\",\"objectType\":\"/openidm/managed/role\",\"isMultiValue\":false,\"enumeratedValues\":[],\"searchable\":true,\"allowedValues\":[],\"id\":\"4332b18f-ad0a-4b16-abd5-af13bede31ae\",\"metadata\":{\"modifiedDate\":\"2026-05-22T21:31:59.656806762Z\",\"createdDate\":\"2026-05-22T21:31:59.65680504Z\"}}],\"searchAfterKey\":[\"4332b18f-ad0a-4b16-abd5-af13bede31ae\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1ec-T+QuY09d56rTibTOQezD3uGE9BM\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "7b51c9cf-14e9-4b94-a4cc-fc57ff5e4735"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 163,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
