{
  "log": {
    "_recordingName": "IgaGlossaryOps/readGlossarySchema()/1: Read existing glossary schema by ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0606a1514274467d14cac22d6684e424",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/glossary/schema/4332b18f-ad0a-4b16-abd5-af13bede31ae"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 390,
            "text": "{\"name\":\"testBoolean\",\"description\":\"Test Boolean Description\",\"displayName\":\"Test Boolean Display Name\",\"type\":\"boolean\",\"objectType\":\"/openidm/managed/role\",\"isMultiValue\":false,\"enumeratedValues\":[],\"searchable\":true,\"allowedValues\":[],\"id\":\"4332b18f-ad0a-4b16-abd5-af13bede31ae\",\"metadata\":{\"modifiedDate\":\"2026-05-22T21:31:59.656806762Z\",\"createdDate\":\"2026-05-22T21:31:59.65680504Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"186-bzfUHSSFiRN2SzEVoNn+JgsPcEA\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "a6ebbabd-059c-443b-a7f8-87aa40dda8f8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 149,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
