{
  "log": {
    "_recordingName": "AgentApi/Classic Tests/getAgentByTypeAndId()/4: Get global agent 'AgentService'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "815ab095396eca6ce44da127b5dd7c5e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a4b4ee77-67a7-40e4-bfa7-15f4dd7fb6c7"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/realms/root/global-config/agents/AgentService/"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 102,
            "text": "{\"_id\":\"\",\"_rev\":\"1570129136\",\"_type\":{\"_id\":\"AgentService\",\"name\":\"AgentService\",\"collection\":false}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1570129136\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 4,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
