{
  "log": {
    "_recordingName": "ServiceOps/getListOfServices()/1: Get List of Global Services",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "00c59a598bc0a39925dcd05b5e05295b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0e3eed44-3eae-409a-9fdb-b48629d3f60a"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "_action",
              "value": "nextdescendents"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/global-config/services?_action=nextdescendents"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 244,
            "text": "{\"result\":[{\"enabled\":true,\"_id\":\"CorsService\",\"_type\":{\"_id\":\"CorsService\",\"name\":\"CORS Service\",\"collection\":false}},{\"defaults\":{\"assignedDashboard\":[]},\"_id\":\"dashboard\",\"_type\":{\"_id\":\"dashboard\",\"name\":\"Dashboard\",\"collection\":false}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 43,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
