{
  "log": {
    "_recordingName": "IgaWorkflowOps/deleteWorkflow()/2: Delete non-existent workflow",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c7fb8387729e0303a027ebdeff724d47",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/auto/orchestration/definition/unknownWorkflow/draft"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 38,
            "text": "Exception: argument \"content\" is null "
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "cece184b-204f-4a0c-be1d-e0a665b71110"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 357,
      },
      {
        "_id": "0198af3e7d15a0ad360f3033d3379ef1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/auto/orchestration/definition/unknownWorkflow/published"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 38,
            "text": "Exception: argument \"content\" is null "
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "fa28aa5d-fd17-411a-918c-b5d694700c64"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 308,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
