{
  "log": {
    "_recordingName": "RawConfigOps/IGA Tests/4: Export raw config iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0606a1514274467d14cac22d6684e424",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/glossary/schema/4332b18f-ad0a-4b16-abd5-af13bede31ae"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 69,
            "text": "{\"message\":\"Cannot read properties of undefined (reading '_source')\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 142,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
