{
  "log": {
    "_recordingName": "IgaSodPolicyOps/exportPolicy()/1: Export existing policy by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "47f56d0d9afdb9d6547079e2e8808bc4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "name eq \"frodo-test-existing\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy?_queryFilter=name%20eq%20%22frodo-test-existing%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 639,
            "text": "{\"result\":[{\"name\":\"frodo-test-existing\",\"description\":\"this is a test policy\",\"policyOwner\":{\"givenName\":\"Frodo\",\"id\":\"managed/user/0ece145b-1467-4cac-b472-f8f34dfaeef3\",\"mail\":\"test@mail.com\",\"sn\":\"Test\",\"userName\":\"frodo-test\"},\"policyRuleIds\":[\"df95d487-a251-458d-8299-14f2b131264c\"],\"policyRuleNames\":[\"test rule\"],\"active\":true,\"id\":\"df9592c5-d877-445a-be00-dede057eedd3\",\"scheduleId\":\"policySchedulea1111111111111111111111111111111\",\"metadata\":{\"modifiedDate\":\"2026-06-05T20:35:26.207547362Z\",\"createdDate\":\"2026-06-05T20:35:26.207545583Z\"}}],\"searchAfterKey\":[\"df9592c5-d877-445a-be00-dede057eedd3\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"27f-of/BtQ+q/z2fOWcLVB81awTqQlo\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "1de2f83c-4667-47f2-85b3-a057922fc67c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 151,
      },
      {
        "_id": "6f1eb8fba1748cf94f6492d408685db8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy/df9592c5-[...]
