{
  "log": {
    "_recordingName": "IgaGlossaryOps/exportGlossarySchemas()/2: Export existing glossary schemas with internal",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "926522e5789c830455b8c847fca0c99b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "pageSize",
              "value": "10000"
            },
            {
              "name": "pageNumber",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/glossary/schema/search?pageSize=10000&pageNumber=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 22685,
            "text": "{\"result\":[{\"id\":\"021ed7cf-116b-4003-9a63-a82431e44c8e\",\"displayName\":\"Custom Attribute 6\",\"name\":\"customAttribute6\",\"description\":\"custom attribute 1\",\"objectType\":\"/iga/governance/account\",\"type\":\"string\",\"isMultiValue\":false,\"enumeratedValues\":[],\"searchable\":true,\"isInternal\":true,\"allowedValues\":[],\"metadata\":{\"modifiedDate\":\"2026-05-22T17:35:11.684Z\",\"createdDate\":\"2025-10-27T18:13:34.91522564Z\"}},{\"allowedValues\":[],\"isIndexed\":true,\"isMultiValue\":false,\"managedObjectType\":null,\"searchable\":true,\"isInternal\":true,\"displayName\":\"Requestable\",\"name\":\"requestable\",\"description\":\"Can the role be requested\",\"objectType\":\"/openidm/managed/role\",\"type\":\"boolean\",\"id\":\"0806c0c5-a6e9-4ec8-8a36-830f217637b3\",\"metadata\":{\"modifiedDate\":\"2026-05-22T17:35:12.442Z\",\"createdDate\":\"2025-10-27T18:26:04.308367768Z\"}},{\"id\":\"09c470af-abc5-4733-beaf-3d169b62a234\",\"displayName\":\"Actors\",\"name\":\"actors\",\"description\":\"Actors for the [...]
