{
  "log": {
    "_recordingName": "SecretsOps/exportSecrets()/1: Export all secrets",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "554e50b0a97fed943f123c01f0fa6760",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..5ERUHzcA1WaTHPCP-Eba_A.QZxDOBun9-v7CZIf1Dd9tU-OkRnQd3IqrskBwXh5-M9rDbORLWusS1lBcg0MWgxWjOzZ0H0cFF6fSF-0lZRk-9KtTSGuXrpjmk0iiXS96edxVlYp9qz-qTpUS6o_7CiAg0IHFwsEIU2dgSlf_iGtiQvE0lMlPLIIb2aJjyNfaC057fwkwqUswoLSkUbf8Kd8BBjJbKo_GHioC_vK_bE9B2se7gHPkc2QqPgPD_f2rIvdAEm016jNKPa9GuQDfo-4IotygbS3iLV-vIMv1gbhTbo-VUP9WcDytLxb4nz9T4up1bmrbrFLQClgKInCKl4bl2I37Q3Pn_p1hXzLPVRGaivvnY9-grogMr_vzM7OZpebxI6jYv9-0OdWKc4XsG-PVwQfXYwQMETic7ZTtbl7TJN6_dEADntCdhxPcAt2mPNg3sEPIemq9BWXEwkabLfmN1ZtCrpa5zAl2L111VRC4Dn5NWn3zm3H41H7BHdDW8A9mtZ9bdiN_4sdJxv5jWe2AXY0aA2Spxr58a1M8u66jdyTgcSCbciSKYVBxxhEXnpU0xJQ7vAl8MipElw7HwGEOB27eH1CjxV4CTBtstLbQ_gHsva81ZV6zpVNEZy8K3OQMTkeDM2nCuDdTItWAyrgxyiiHduF74CDqLP9sq2713aORJPq58ewf850Y3wPRJRO64N7D6i55nQnwkt36ZA-xV6xpa4_mRSa0OsZPjoKXlXkdWYJtD7un8mThzmKDaNjin0FJ3tYQ5ggz-W5dwf1CemEOdeyw-_XSiuC2kWowL-jJvkQQg5tTrZ5hJJVfv8aCVZXHv7PdlLFpxwZvm68qwWWrvNc-kGSeRprztVCzwzk5HpgmZdHZ9Wj-pj64Y9X3an-TMUit19zTnr70gRB_3pXGiXAuvfCYT70R05TmZby6GPEWXw_NVd1bahJcwoay4NOulnQqllxN5iHbbFEHemQQ8L8cgRCpH2_oAYy4gnGgjxjJB77vI8VStkl5UIzd8Hw3GUxIy-UkVW78tEbSaLPgZ4OlqpkCkFJL4-x9PxFglGlxqZY8fvAW0CPufA.OAi5pF9hVeiUKI7FWbNSHg"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1730,
            "text": "{\"pagedResultsCookie\":null,\"remainingPagedResults\":-1,\"result\":[{\"_id\":\"esv-admin-token\",\"activeVersion\":\"1\",\"description\":\"Long-lived admin token\",\"encoding\":\"generic\",\"lastChangeDate\":\"2022-08-11T22:32:38.056Z\",\"lastChangedBy\":\"8efaa5b6-8c98-4489-9b21-ee41f5589ab7\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true},{\"_id\":\"esv-admin-token-1999386457729\",\"activeVersion\":\"1\",\"description\":\"Long-lived admin token\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-05-14T01:07:41.970Z\",\"lastChangedBy\":\"8d9723a9-a439-4cbf-beb4-30e52811789d\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true},{\"_id\":\"esv-frodo-test-secret-1\",\"activeVersion\":\"1\",\"description\":\"description1\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-08-24T14:17:43.637Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":false,\"loadedVersion\":\"\",\"useInPlaceholders\":true},{\"_id\":\"esv-frodo-test-secret-2\",\"activeVersion\":\"1\",\"description\":\"description2\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-08-24T14:17:44.868Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":false},{\"_id\":\"esv-test-secret\",\"activeVersion\":\"2\",\"description\":\"Secret Value for testing\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-08-09T19:00:01.501Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":true,\"loadedVersion\":\"2\",\"useInPlaceholders\":true},{\"_id\":\"esv-test-secret-1\",\"activeVersion\":\"1\",\"description\":\"test secret one\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-08-06T03:53:17.716Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true}],\"resultCount\":6,\"totalPagedResults\":-1,\"totalPagedResultsPolicy\":\"NONE\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 718,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
