{
  "log": {
    "_recordingName": "IgaGlossaryOps/readGlossarySchemaByName()/3: Read non-existing glossary schema with unknown object type",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1d2b44772a3d2b4a88a3f12121d2ae9e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"targetFilter\":{\"operator\":\"AND\",\"operand\":[{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"name\",\"targetValue\":\"testBoolean\"}},{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"objectType\",\"targetValue\":\"unknownObjectType\"}}]}}"
          },
          "queryString": [
            {
              "name": "pageSize",
              "value": "10000"
            },
            {
              "name": "pageNumber",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/glossary/schema/search?pageSize=10000&pageNumber=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 66,
            "text": "{\"result\":[],\"searchAfterKey\":null,\"totalCount\":0,\"resultCount\":0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"42-6WyYF1p6hZFqH61y+4aiRN1wKRM\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "fe21951d-9e68-4bb8-a972-03613fbb53ac"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 153,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
