{
  "log": {
    "_recordingName": "AuthenticationSettingsOps/Cloud Tests/exportAuthenticationSettings()/1: Export Realm AuthenticationSettings",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "567773b06e735b1cc8a5ad23a155606f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-069fb2e9-b104-46da-869b-aad485d5dcec"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1459,
            "text": "{\"_id\":\"\",\"_rev\":\"-1952817720\",\"postauthprocess\":{\"usernameGeneratorClass\":\"com.sun.identity.authentication.spi.DefaultUserIDGenerator\",\"usernameGeneratorEnabled\":true,\"loginPostProcessClass\":[],\"loginSuccessUrl\":[\"/enduser/?realm=/alpha\"],\"userAttributeSessionMapping\":[],\"loginFailureUrl\":[]},\"security\":{\"zeroPageLoginEnabled\":false,\"zeroPageLoginReferrerWhiteList\":[],\"zeroPageLoginAllowedWithoutReferrer\":true,\"moduleBasedAuthEnabled\":false,\"sharedSecret\":{\"$string\":\"&{am.authentication.shared.secret}\"},\"addClearSiteDataHeader\":true,\"keyAlias\":\"test\"},\"trees\":{\"suspendedAuthenticationTimeout\":1440,\"authenticationSessionsStateManagement\":\"JWT\",\"authenticationSessionsMaxDuration\":5,\"authenticationTreeCookieHttpOnly\":true,\"authenticationSessionsWhitelist\":false},\"accountlockout\":{\"loginFailureLockoutMode\":false,\"storeInvalidAttemptsInDataStore\":true,\"lockoutDuration\":0,\"lockoutDurationMultiplier\":1,\"lockoutWarnUserCount\":0,\"loginFailureCount\":5,\"loginFailureDuration\":300},\"core\":{\"adminAuthModule\":\"Login\",\"orgConfig\":\"Login\"},\"general\":{\"userStatusCallbackPlugins\":[],\"statelessSessionsEnabled\":false,\"locale\":\"en_US\",\"externalLoginPageUrl\":\"https://volker-demo.encore.forgerock.com/demo/webapp/en/home/redirect\",\"twoFactorRequired\":false,\"identityType\":[\"agent\",\"user\"],\"defaultAuthLevel\":0},\"userprofile\":{\"dynamicProfileCreation\":\"false\",\"defaultRole\":[],\"aliasAttributeName\":[\"uid\"]},\"_type\":{\"_id\":\"EMPTY\",\"name\":\"Core\",\"collection\":false}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-1952817720\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-069fb2e9-b104-46da-869b-aad485d5dcec"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 63,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
