{
  "log": {
    "_recordingName": "IgaConfigOps/importConfig()/1: Import none (empty import data)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "459dbb33fa96ad1ba694b325f24d46b0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/config"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2,
            "text": "{}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2-vyGp6PvFo4RvsFtPoIWeCReyIC8\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "aaada97b-4b38-4ace-ac6d-b25ee20d9e88"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 127,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
