{
  "log": {
    "_recordingName": "VariablesOps/exportVariable()/2: Export variable2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "004d2665b8752e3b0f64040d71694d79",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..DFmkCYM6SkGfQlVRCg61jw.cpNbDiO6LfZhAqvmgI01u8-VIhT1t40Cui-MoWdtrt3N9xMU6pRgtRKd3y7ZbNEiGh11S1iFNWfGOVDkPBdPcwAxA1h-7kVlvF69XnfMZcgguma05y6EYNJby0h_DVj1fwUOtxW3dQliift1iTCN2QBKVAfxM75w6qh5nJb9a-UNhFvtgZPDx6q5sbegQKxcCsbbA90ljUaB1W22iCHmH--U1wacS_AvPS_uRc7-h5ky-iXlxs9PjJ6ADkH9sogG95gext0TFbtBtkfNk2vMdG4K6xry9M1E3Jy0NEANTuFeMisyIJ-DzXWDZY7T8driW3vfUwnD1E6ARLJBlZcHyfakLHO3n_wZLtzp6MzqMLlk4onYXsOuWyIMnFCXt8oj9uWPihY5Y7Lm2_QyVVEy1Qd-RBnRFvTrZJFXxxNcqYzh2SCbWLIgmXwe1TXegnBSXyIDo3Sl-ir7Zj18D8hoqPqVcBym6SNSw0GIf8ZhdXAXPQz2CkZivwLil5Rttdu77xp_a9AJUlx3YppVd-gur7vPyYWghlXX0h4u9hwS_Ziqzyp9JQJzRHy_RZPdBf7szYIlv7EV2qyvffl82ifbMf027Bp22ecJr6Oyjp121LXmYEhRl-NF5FpaiTnqXuz_BcWcfuLuUI3_EAKmZ9tAkYNCb_Z9pkyUfvss7hJbB1GTbdPXYi0Gi04FOXR35yFagGemvp15YMwsuBDo7r3YfFP60_khqri8dDpo13AOvQyHYG4MGpeLrpy0E7i5uzj8vQsnXa6-7B9BYCGgbh6SfDcdsd0hRLtGpDDRBzFWCSaj5mYDI_hRm3w2vCWXP_IBpKqMFOlO2qIaldG1kEKxGmUPnBJphS525-ERmyT_ekDqT26a6Ud0o33SkrAa8bUvV2DOXbnoJO22Wjsgd0_u_H8GDxwm27WrTzo2n8FRS0lfNFEOIXJGmp_kDTx-wkrtsAbIeNFycarWxBjGHIAqovjCiHZG5RZjPj44Vdp2a_b34uXomoNkpVp800n6ixQENBLbE9fv3SoSCxADX3FFCVoIHAaelwpDvFTW2kz6qlE.Y4I_mstHlCaotCENGtiunw"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable-2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 223,
            "text": "{\"_id\":\"esv-frodo-test-variable-2\",\"description\":\"description2\",\"expressionType\":\"int\",\"lastChangeDate\":\"2023-08-24T14:16:10.164Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":false,\"valueBase64\":\"NDI=\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 476,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
