{
  "log": {
    "_recordingName": "IgaScopeOps/importScopes()/3: Import by name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "51e4892ec57556689bf6c32a449cc8fa",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"id\":\"0fbe053c-aa3a-447f-a1df-e409790036a1\",\"_rev\":0,\"name\":\"test_scope_2\",\"description\":\"Test scope: test_scope_2\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}}},\"permissions\":{\"viewUserAccess\":true,\"viewGrants\":true},\"entity\":{\"class\":\"managed/user\",\"type\":\"string\"}}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 360,
            "text": "{\"id\":\"9d688600-361c-4012-b6e1-bc34fe23b083\",\"_rev\":1,\"name\":\"test_scope_2\",\"description\":\"Test scope: test_scope_2\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}}},\"permissions\":{\"viewGrants\":true,\"viewUserAccess\":true},\"entity\":{\"class\":\"managed/user\",\"type\":\"string\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"168-lRV+ZaE600Z7CTzyoI3nsH2TcoE\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "5d0e3e0b-9e8c-40ab-80b9-26099945a07c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1052,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
