{
  "log": {
    "_recordingName": "IgaScopeOps/importScopes()/3: Import by name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1258457309dbac2a38f1307e49324089",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"id\":\"9db2e5b6-e9e1-483e-886a-53e2c47f8d74\",\"_rev\":0,\"name\":\"scope2\",\"description\":\"Test scope: scope2\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}}},\"permissions\":{\"viewUserAccess\":true,\"viewGrants\":true},\"entity\":{\"class\":\"managed/user\",\"type\":\"string\"}}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 348,
            "text": "{\"id\":\"a6025545-161d-43ac-a050-d686ce14764f\",\"_rev\":1,\"name\":\"scope2\",\"description\":\"Test scope: scope2\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}}},\"permissions\":{\"viewGrants\":true,\"viewUserAccess\":true},\"entity\":{\"class\":\"managed/user\",\"type\":\"string\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"15c-XHsUup3w+NWqX1Ifhv4ME+dHaPA\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "6c2981fe-78eb-449e-bc90-77b38cd63e84"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1238,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
