{
  "log": {
    "_recordingName": "IgaScopeOps/importScopes()/4: Import all",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "286db37566f59f0f218da453e708e6bc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"id\":\"72c65784-c1ac-47e5-9703-ea0967487e99\",\"_rev\":0,\"name\":\"scope1\",\"description\":\"Test scope: scope1\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}}},\"permissions\":{\"viewUserAccess\":true,\"viewGrants\":true},\"entity\":{\"class\":\"managed/user\",\"type\":\"string\"}}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 348,
            "text": "{\"id\":\"8ee36c5e-0197-44ad-b8b7-97ad13abbe3d\",\"_rev\":1,\"name\":\"scope1\",\"description\":\"Test scope: scope1\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}}},\"permissions\":{\"viewGrants\":true,\"viewUserAccess\":true},\"entity\":{\"class\":\"managed/user\",\"type\":\"string\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"15c-VANHM8yqSSjktZxsRq1oZiDds/s\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "86cf08cc-6306-4b0b-8fd0-10c61eb696e9"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 761,
      },
      {
        "_id": "1258457309dbac2a38f1307e49324089",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"[...]
