{
  "log": {
    "_recordingName": "IgaScopeOps/importScopes()/4: Import all",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "dbc58f19ad1f3b07280ef86bb2527e4b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"id\":\"73c690c8-8251-4914-98e4-722f762dd5ec\",\"_rev\":0,\"name\":\"test_scope_1\",\"description\":\"Test scope: test_scope_1\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}}},\"permissions\":{\"viewUserAccess\":true,\"viewGrants\":true},\"entity\":{\"class\":\"managed/user\",\"type\":\"string\"}}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 360,
            "text": "{\"id\":\"2b942f51-8403-4753-b58e-c50268c513f7\",\"_rev\":1,\"name\":\"test_scope_1\",\"description\":\"Test scope: test_scope_1\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}}},\"permissions\":{\"viewGrants\":true,\"viewUserAccess\":true},\"entity\":{\"class\":\"managed/user\",\"type\":\"string\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"168-4KdY0pg5V0GQP222J/EJrpPj+Po\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "9b6bce69-4c8e-4c6c-a834-2653b1029ae7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1065,
      },
      {
        "_id": "51e4892ec57556689bf6c32a449cc8fa",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\[...]
