{
  "log": {
    "_recordingName": "IgaScopeOps/createScope()/1: Create scope",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d6cabaf82714f80b5165245d83542b3e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"id\":\"72c65784-c1ac-47e5-9703-ea0967487e99\",\"name\":\"testScope1\",\"description\":\"Test scope: testScope1\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{\"and\":[{\"contains\":{\"search_string\":{\"literal\":\"1\"},\"in_string\":\"user._id\"}},{\"not_contains\":{\"search_string\":{\"literal\":\"2\"},\"in_string\":\"user.accountStatus\"}},{\"or\":[{\"gte\":{\"right\":{\"literal\":1},\"left\":\"user.frIndexedInteger1\"}},{\"gt\":{\"right\":{\"literal\":2},\"left\":\"user.frIndexedInteger1\"}},{\"lte\":{\"right\":{\"literal\":3},\"left\":\"user.frIndexedInteger1\"}},{\"lt\":{\"right\":{\"literal\":4},\"left\":\"user.frIndexedInteger1\"}}]},{\"and\":[{\"equals\":{\"right\":{\"literal\":\"3\"},\"left\":\"user.accountStatus\"}},{\"not_equals\":{\"right\":{\"literal\":\"4\"},\"left\":\"user.accountStatus\"}},{\"or\":[{\"starts_with\":{\"prefix\":{\"literal\":\"5\"},\"value\":\"user.city\"}},{\"ends_with\":{\"suffix\":{\"literal\":\"6\"},\"value\":\"user.country\"}}]}]}]}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}},\"role\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"starts_with\":{\"prefix\":{\"literal\":\"1\"},\"value\":\"catalog.role._id\"}},{\"equals\":{\"right\":{\"literal\":false},\"left\":\"catalog.role.glossary.Test Boolean\"}}]}},\"entitlement\":{\"version\":\"v2\",\"filter\":{}},\"user\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"not_equals\":{\"right\":{\"literal\":\"a\"},\"left\":\"user.city\"}},{\"and\":[{\"not_equals\":{\"right\":{\"literal\":\"b\"},\"left\":\"user.country\"}}]}]}}},\"permissions\":{\"createEntitlement\":true,\"modifyEntitlement\":true,\"viewGrants\":true,\"createUser\":true,\"modifyUser\":true,\"deleteUser\":true,\"viewUserAccess\":true,\"createRole\":true,\"modifyRole\":true,\"publishRole\":true,\"deleteRole\":true}}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1600,
            "text": "{\"id\":\"797f225c-5143-47ae-9349-f6e6ed67ac85\",\"name\":\"testScope1\",\"description\":\"Test scope: testScope1\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{\"and\":[{\"contains\":{\"search_string\":{\"literal\":\"1\"},\"in_string\":\"user._id\"}},{\"not_contains\":{\"search_string\":{\"literal\":\"2\"},\"in_string\":\"user.accountStatus\"}},{\"or\":[{\"gte\":{\"right\":{\"literal\":1},\"left\":\"user.frIndexedInteger1\"}},{\[...]
