{
  "log": {
    "_recordingName": "IgaScopeOps/deleteScope()/1: Delete existing scope by ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "29d1413bc2479ee4edaed88eb74291c1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope/537dc742-4f97-4c39-8603-3cb33c6aa5ee"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 77,
            "text": "{\"message\":\"Cannot find scope with id: 537dc742-4f97-4c39-8603-3cb33c6aa5ee\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4d-9mV67c4YWfgeaEwfCIqyliOk09Q\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "9dd8cfca-e38b-430e-92aa-ce8d5cadda33"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 185,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
