{
  "log": {
    "_recordingName": "IgaScopeOps/deleteScope()/1: Delete existing scope by ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ed027c5bad11d4c09328cbd51299b8a5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope/a42f39bd-7f23-445e-8b71-4730d3c58f21"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1160,
            "text": "{\"description\":\"\",\"id\":\"a42f39bd-7f23-445e-8b71-4730d3c58f21\",\"name\":\"scope3\",\"permissions\":{\"createUser\":true,\"modifyUser\":true,\"deleteUser\":true,\"viewUserAccess\":true,\"createRole\":true,\"modifyRole\":true,\"publishRole\":true,\"deleteRole\":true},\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"starts_with\":{\"prefix\":{\"literal\":\"1\"},\"value\":\"user.frIndexedDate1\"}},{\"or\":[{\"starts_with\":{\"prefix\":{\"literal\":\"U\"},\"value\":\"user.city\"}},{\"starts_with\":{\"prefix\":{\"literal\":\"A\"},\"value\":\"user.country\"}}]}]}}},\"status\":\"active\",\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"starts_with\":{\"prefix\":{\"literal\":\"A\"},\"value\":\"catalog.application._id\"}}]}},\"role\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"starts_with\":{\"prefix\":{\"literal\":\"A\"},\"value\":\"catalog.role.description\"}}]}},\"entitlement\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"starts_with\":{\"prefix\":{\"literal\":\"A\"},\"value\":\"catalog.entitlement.descriptor.displayName\"}}]}},\"user\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"starts_with\":{\"prefix\":{\"literal\":\"1\"},\"value\":\"user._id\"}}]}}},\"_rev\":2,\"metadata\":{\"modifiedDate\":\"2026-05-21T19:45:53.207Z\",\"createdDate\":\"2026-05-21T19:44:57.724126026Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"488-5oKGiexXAvHf36YlhNPRVQKfG7g\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "259ff8aa-3d75-4feb-af23-13345dc09c56"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1003,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
