{
  "log": {
    "_recordingName": "IgaSodPolicyOps/deletePolicyByName()/1: Delete existing policy by name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3bb8eb8e7925164d54096a7edb306f90",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "name eq \"frodo-test-delete-by-name\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy?_queryFilter=name%20eq%20%22frodo-test-delete-by-name%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 645,
            "text": "{\"result\":[{\"name\":\"frodo-test-delete-by-name\",\"description\":\"this is a test policy\",\"policyOwner\":{\"givenName\":\"Frodo\",\"id\":\"managed/user/0ece145b-1467-4cac-b472-f8f34dfaeef3\",\"mail\":\"test@mail.com\",\"sn\":\"Test\",\"userName\":\"frodo-test\"},\"policyRuleIds\":[\"df95d487-a251-458d-8299-14f2b131264c\"],\"policyRuleNames\":[\"test rule\"],\"active\":true,\"id\":\"93469ddf-dc80-4b0a-9ba8-b13dc5eb6623\",\"scheduleId\":\"policySchedulea3333333333333333333333333333333\",\"metadata\":{\"modifiedDate\":\"2026-06-05T20:35:34.197626174Z\",\"createdDate\":\"2026-06-05T20:35:34.197624528Z\"}}],\"searchAfterKey\":[\"93469ddf-dc80-4b0a-9ba8-b13dc5eb6623\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"285-0xIzUQLGCq1ye1KH+8mINEAm80c\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "a74c8513-4505-42e6-aa01-56b60659d903"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 178,
      },
      {
        "_id": "2e378e4ad63f18eb6d9b882f3f25d274",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy/93469d[...]
