{
  "log": {
    "_recordingName": "IgaScopeOps/importScopes()/5: Should not import scope if no changes were made",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "978f923583b9bb6766db08568663a0a8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope/8fc1769e-94ed-42bd-ab6d-e87f0521a72c"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1708,
            "text": "{\"id\":\"8fc1769e-94ed-42bd-ab6d-e87f0521a72c\",\"name\":\"testScope9\",\"description\":\"Test scope: testScope9\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{\"and\":[{\"contains\":{\"search_string\":{\"literal\":\"1\"},\"in_string\":\"user._id\"}},{\"not_contains\":{\"search_string\":{\"literal\":\"2\"},\"in_string\":\"user.accountStatus\"}},{\"or\":[{\"gte\":{\"right\":{\"literal\":1},\"left\":\"user.frIndexedInteger1\"}},{\"gt\":{\"right\":{\"literal\":2},\"left\":\"user.frIndexedInteger1\"}},{\"lte\":{\"right\":{\"literal\":3},\"left\":\"user.frIndexedInteger1\"}},{\"lt\":{\"right\":{\"literal\":4},\"left\":\"user.frIndexedInteger1\"}}]},{\"and\":[{\"equals\":{\"right\":{\"literal\":\"3\"},\"left\":\"user.accountStatus\"}},{\"not_equals\":{\"right\":{\"literal\":\"4\"},\"left\":\"user.accountStatus\"}},{\"or\":[{\"starts_with\":{\"prefix\":{\"literal\":\"5\"},\"value\":\"user.city\"}},{\"ends_with\":{\"suffix\":{\"literal\":\"6\"},\"value\":\"user.country\"}}]}]}]}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}},\"role\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"starts_with\":{\"prefix\":{\"literal\":\"1\"},\"value\":\"catalog.role._id\"}},{\"equals\":{\"right\":{\"literal\":false},\"left\":\"catalog.role.glossary.Test Boolean\"}}]}},\"entitlement\":{\"version\":\"v2\",\"filter\":{}},\"user\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"not_equals\":{\"right\":{\"literal\":\"a\"},\"left\":\"user.city\"}},{\"and\":[{\"not_equals\":{\"right\":{\"literal\":\"b\"},\"left\":\"user.country\"}}]}]}}},\"permissions\":{\"createEntitlement\":true,\"modifyEntitlement\":true,\"viewGrants\":true,\"createUser\":true,\"modifyUser\":true,\"deleteUser\":true,\"viewUserAccess\":true,\"createRole\":true,\"modifyRole\":true,\"publishRole\":true,\"deleteRole\":true},\"_rev\":1,\"metadata\":{\"modifiedDate\":\"2026-09-30T16:12:59.167493795Z\",\"createdDate\":\"2026-09-30T16:12:59.167492785Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 181,
      },
      {
        "_id": "978f923583b9bb6766db08568663a0a8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "G[...]
