{
  "log": {
    "_recordingName": "IgaScopeOps/updateScope()/2: Update non-existing scope",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bc76014a39fb6f3265039acef9589e7e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"id\":\"cfef12ab-88e8-4d40-9553-27e50501d699\",\"_rev\":0,\"name\":\"scope5\",\"description\":\"Test scope: scope5\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}}},\"permissions\":{\"viewUserAccess\":true,\"viewGrants\":true},\"entity\":{\"class\":\"managed/user\",\"type\":\"string\"}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope/cfef12ab-88e8-4d40-9553-27e50501d699"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 77,
            "text": "{\"message\":\"Cannot find scope with id: cfef12ab-88e8-4d40-9553-27e50501d699\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4d-YVsvUbJS6Sj4wPWfsmxyBaLnUjM\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "6d0024fe-2c48-4a1c-bf52-c1757eaff750"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 377,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
