{
  "log": {
    "_recordingName": "IgaScopeOps/updateScope()/2: Update non-existing scope",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "abf52971b1d4590d24f1d5869927f65f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"id\":\"11111111-1111-1111-1111-111111111111\",\"_rev\":0,\"name\":\"test_scope_5\",\"description\":\"Test scope: test_scope_5\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}}},\"permissions\":{\"viewUserAccess\":true,\"viewGrants\":true},\"entity\":{\"class\":\"managed/user\",\"type\":\"string\"}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope/11111111-1111-1111-1111-111111111111"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 77,
            "text": "{\"message\":\"Cannot find scope with id: 11111111-1111-1111-1111-111111111111\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4d-ciw4MevTOpvTur91e47PxLlxKgg\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "882e0dbd-042a-4df7-91ac-0b52898b9e62"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 176,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
