{
  "log": {
    "_recordingName": "IgaConfigOps/importConfig()/2: Import full config",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "edb70b289ed90e0a33ac759bd2e9b436",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/config"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1392,
            "text": "{\"iga_global\":{\"enableScoping\":false},\"iga_ui_config\":{\"lcmSettings\":{\"entitlement\":{\"enabled\":false},\"organization\":{\"enabled\":false},\"role\":{\"enabled\":false},\"user\":{\"enabled\":true}}},\"iga_access_request\":{\"requireRequestJustification\":false,\"requireRejectJustification\":false,\"requireApproveJustification\":false,\"preventRequestWithViolation\":false,\"requireRequestJustificationWithViolation\":false,\"defaultApprover\":\"\",\"allowSelfApproval\":false,\"maxManualRoleMembers\":1000},\"iga_autoid_integration\":{\"enableAutoId\":false,\"highScorePercentThreshold\":80,\"mediumScorePercentThreshold\":50,\"lowScorePercentThreshold\":30,\"training_features_filter\":[\"user.managerId\"],\"roleMiningConfidenceThreshold\":0.75,\"roleMiningMembershipThreshold\":30,\"roleMiningEntitlementThreshold\":1,\"enableFeatureRecommendation\":true,\"maxRecommendedFeatures\":10,\"featuresToSkipDuringRecommendation\":[\"_eventMetadata\",\"_rev\",\"accountStatus\",\"assignedDashboard\",\"cn\",\"entityType\",\"fr\",\"givenName\",\"id\",\"mail\",\"manager\",\"metadata\",\"sn\",\"userId\",\"userName\",\"passwordLastChangedTime\",\"passwordExpirationTime\",\"scopes\",\"adminOfOrg\",\"memberOfOrg\",\"ownerOfApp\",\"ownerOfOrg\",\"roles\",\"authzRoles\",\"applications\",\"assignments\",\"groups\",\"reports\"]},\"iga-file\":{},\"feature_recommendation\":{},\"iga_notification\":{\"notificationPollingBatchSize\":50,\"notificationSendDelay\":1000,\"notificationRetryDelay\":60000,\"notificationMaxRetries\":3}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"570-xXiEzfeDHl9tKu3XInQpKPmIdko\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "370e9405-a016-4cd0-b48a-145d15f9aacc"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 126,
      },
      {
        "_id": "b4ea4f03e1e6edbb691aa55f819fed76",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/config/iga_global"
[...]
