{
  "log": {
    "_recordingName": "IgaGlossaryOps/importGlossarySchemas()/4: Import all",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "40cbe3572af0b40a4a585680708a2459",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-18930fe6-89df-4860-a3f6-13fdcff86505"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"testInteger\",\"description\":\"Test Integer Description\",\"displayName\":\"Test Integer Display Name\",\"type\":\"integer\",\"objectType\":\"/openidm/managed/assignment\",\"isMultiValue\":true,\"enumeratedValues\":[{\"text\":1,\"value\":0},{\"text\":2,\"value\":1},{\"text\":3,\"value\":2}],\"searchable\":false,\"allowedValues\":[0,1,2],\"id\":\"16c42f91-43a0-4b89-8ece-0221df554aa4\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/glossary/schema/16c42f91-43a0-4b89-8ece-0221df554aa4"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 356,
            "text": "{\"name\":\"testInteger\",\"description\":\"Test Integer Description\",\"displayName\":\"Test Integer Display Name\",\"type\":\"integer\",\"objectType\":\"/openidm/managed/assignment\",\"isMultiValue\":true,\"enumeratedValues\":[{\"text\":1,\"value\":0},{\"text\":2,\"value\":1},{\"text\":3,\"value\":2}],\"searchable\":false,\"allowedValues\":[0,1,2],\"id\":\"16c42f91-43a0-4b89-8ece-0221df554aa4\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"164-CuLbmQyIZDf+DMbW7vBWSue1xyQ\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-18930fe6-89df-4860-a3f6-13fdcff86505"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1000,
      },
      {
        "_id": "fa7b33d84f29822602e7d8ced2f7cdf9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-18930fe6-89df-4860-a3f6-13fdcff86505"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          [...]
