{
  "log": {
    "_recordingName": "IgaWorkflowOps/deleteDraftWorkflow()/2: Delete non-existing draft workflow by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e4f9c1349d7548e78eebe2b93c0e5926",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/auto/orchestration/definition/testWorkflow4/draft"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 38,
            "text": "Exception: argument \"content\" is null "
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "1e7b2a1f-406c-4b3a-aef4-5257c2ec90ed"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 324,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
