{
  "log": {
    "_recordingName": "AuthenticateApi/authenticateIdm()/1: On-prem IDM authentication",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a54f8002c42635eab99b513f957d9a65",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a78b6567-d98d-477a-b45e-e4b5c545bed2"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            },
            {
              "name": "x-openidm-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openidm-password",
              "value": "openidm-admin"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "login"
            }
          ],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/authentication?_action=login"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 326,
            "text": "{\"_id\":\"login\",\"authorization\":{\"userRolesProperty\":\"authzRoles\",\"component\":\"internal/user\",\"authLogin\":true,\"roles\":[\"internal/role/openidm-admin\",\"internal/role/openidm-authorized\"],\"ipAddress\":\"127.0.0.1\",\"authenticationId\":\"openidm-admin\",\"id\":\"openidm-admin\",\"moduleId\":\"STATIC_USER\"},\"authenticationId\":\"openidm-admin\"}"
          },
          ],
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 193,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
