{
  "log": {
    "_recordingName": "AuthenticationSettingsOps/Classic Tests/readAuthenticationSettings()/2: Read Global AuthenticationSettings",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "19457f41bdd07bd5b8952336c527d39e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-cacef348-6ec4-4d77-a3d9-0b8a9034c988"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/global-config/authentication"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 3971,
            "text": "{\"_id\":\"\",\"_rev\":\"-524457684\",\"keepPostProcessInstances\":false,\"ldapConnectionPoolSize\":[],\"ldapConnectionPoolDefaultSize\":\"1:10\",\"remoteAuthSecurityEnabled\":false,\"authenticators\":[\"com.sun.identity.authentication.modules.ad.AD\",\"org.forgerock.openam.authentication.modules.saml2.SAML2\",\"org.forgerock.openam.authentication.modules.social.SocialAuthInstagram\",\"org.forgerock.openam.authentication.modules.oath.OATH\",\"org.forgerock.openam.authentication.modules.social.SocialAuthVK\",\"com.sun.identity.authentication.modules.membership.Membership\",\"com.sun.identity.authentication.modules.windowsdesktopsso.WindowsDesktopSSO\",\"org.forgerock.openam.authentication.modu[...]
