{
  "log": {
    "_recordingName": "RawConfigOps/IGA Tests/4: importRawConfig iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "85444897c1dde4cce4c33411ac53a650",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"glossary1\":{\"name\":\"testBoolean\",\"description\":\"Test Boolean Description\",\"displayName\":\"Test Boolean Display Name\",\"type\":\"boolean\",\"objectType\":\"/openidm/managed/role\",\"isMultiValue\":false,\"enumeratedValues\":[],\"searchable\":true,\"allowedValues\":[],\"id\":\"4332b18f-ad0a-4b16-abd5-af13bede31ae\"}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/glossary/schema/4332b18f-ad0a-4b16-abd5-af13bede31ae"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 127,
            "text": "{\"message\":[\"The following keys are required but not provided: name,objectType,type\",\"Schema property name must be a string.\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 247,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
