{
  "log": {
    "_recordingName": "IgaScopeOps/readScopeByName()/1: Read existing scope by name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9e21dc58f8e841e4fb5f0681866161cf",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "name eq \"testScope2\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope?_queryFilter=name%20eq%20%22testScope2%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1810,
            "text": "{\"result\":[{\"id\":\"9db2e5b6-e9e1-483e-886a-53e2c47f8d74\",\"name\":\"testScope2\",\"description\":\"Test scope: testScope2\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{\"and\":[{\"contains\":{\"search_string\":{\"literal\":\"1\"},\"in_string\":\"user._id\"}},{\"not_contains\":{\"search_string\":{\"literal\":\"2\"},\"in_string\":\"user.accountStatus\"}},{\"or\":[{\"gte\":{\"right\":{\"literal\":1},\"left\":\"user.frIndexedInteger1\"}},{\"gt\":{\"right\":{\"literal\":2},\"left\":\"user.frIndexedInteger1\"}},{\"lte\":{\"right\":{\"literal\":3},\"left\":\"user.frIndexedInteger1\"}},{\"lt\":{\"right\":{\"literal\":4},\"left\":\"user.frIndexedInteger1\"}}]},{\"and\":[{\"equals\":{\"right\":{\"literal\":\"3\"},\"left\":\"user.accountStatus\"}},{\"not_equals\":{\"right\":{\"literal\":\"4\"},\"left\":\"user.accountStatus\"}},{\"or\":[{\"starts_with\":{\"prefix\":{\"literal\":\"5\"},\"value\":\"user.city\"}},{\"ends_with\":{\"suffix\":{\"literal\":\"6\"},\"value\":\"user.country\"}}]}]}]}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}},\"role\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"starts_with\":{\"prefix\":{\"literal\":\"1\"},\"value\":\"catalog.role._id\"}},{\"equals\":{\"right\":{\"literal\":false},\"left\":\"catalog.role.glossary.Test Boolean\"}}]}},\"entitlement\":{\"version\":\"v2\",\"filter\":{}},\"user\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"not_equals\":{\"right\":{\"literal\":\"a\"},\"left\":\"user.city\"}},{\"and\":[{\"not_equals\":{\"right\":{\"literal\":\"b\"},\"left\":\"user.country\"}}]}]}}},\"permissions\":{\"createEntitlement\":true,\"modifyEntitlement\":true,\"viewGrants\":true,\"createUser\":true,\"modifyUser\":true,\"deleteUser\":true,\"viewUserAccess\":true,\"createRole\":true,\"modifyRole\":true,\"publishRole\":true,\"deleteRole\":true},\"_rev\":1,\"metadata\":{\"modifiedDate\":\"2026-09-30T16:12:38.052658143Z\",\"createdDate\":\"2026-09-30T16:12:38.052656573Z\"}}],\"searchAfterKey\":[\"9db2e5b6-e9e1-483e-886a-53e2c47f8d74\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 181,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
