{
  "log": {
    "_recordingName": "IgaScopeOps/readScopeByName()/1: Read existing scope by name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a226c9be1a8678ea411f29f0a9ffdf62",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "name eq \"test_scope_2\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope?_queryFilter=name%20eq%20%22test_scope_2%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 570,
            "text": "{\"result\":[{\"id\":\"59d38f3a-fbc5-4ca4-880b-e8dd7e19e990\",\"_rev\":1,\"name\":\"test_scope_2\",\"description\":\"Test scope: test_scope_2\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}}},\"permissions\":{\"viewGrants\":true,\"viewUserAccess\":true},\"entity\":{\"class\":\"managed/user\",\"type\":\"string\"},\"metadata\":{\"modifiedDate\":\"2026-05-20T17:46:13.683153258Z\",\"createdDate\":\"2026-05-20T17:46:13.683151909Z\"}}],\"searchAfterKey\":[\"59d38f3a-fbc5-4ca4-880b-e8dd7e19e990\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"23a-NNjM0wBYE61P4zJ0JSOJTkQXoyg\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "826fdb4f-2cd4-4065-87e6-0fa450117a61"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 188,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
