{
  "log": {
    "_recordingName": "IgaConfigOps/exportConfigByKey()/1: Export existing config key",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b4ea4f03e1e6edbb691aa55f819fed76",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/config/iga_global"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 23,
            "text": "{\"enableScoping\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"17-0Zg+gK0zwxg3L/AB2nSp3PbdQH8\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "c08c8b5f-53e1-43c4-99bb-02cdd461bb72"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 114,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
