{
  "log": {
    "_recordingName": "IgaConfigOps/importConfigByKey()/2: Import with key missing from import data",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "006ba015e2bac6253284e2f235776e2e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/config/iga_access_request"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 317,
            "text": "{\"requireRequestJustification\":false,\"requireRejectJustification\":false,\"requireApproveJustification\":false,\"preventRequestWithViolation\":false,\"requireRequestJustificationWithViolation\":false,\"defaultApprover\":\"managed/role/8b470ae7-d40a-4f6a-87cd-b39c2f144fe7\",\"allowSelfApproval\":false,\"maxManualRoleMembers\":1000}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"13d-khabRutUNvc3HqeYG84dJReeHAA\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "e46cad9e-97d0-48c4-9e33-07706c5d2a2c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 112,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
