{
  "log": {
    "_recordingName": "IgaScopeOps/readScopeEntitySchema()/2: Read scope entity schema for unknown entity type",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "586b7a3881a2dcd7cc77d3ed312f916b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope/entity/unknownEntityType"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 62,
            "text": "{\"message\":\"Invalid scope condition object unknownEntityType\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"3e-mSxYu84IQ/N3a9ZPr602a1jZiG0\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "2c7b6045-5682-4e4e-bdcc-0334fa9ccac6"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 138,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
