{
  "log": {
    "_recordingName": "IgaConfigOps/updateConfigByKey()/2: Update non-existing config key",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "480351b778d5bf19d5d1e286aef619f1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/config/iga_nonexistent_key_xyz"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 68,
            "text": "{\"message\":\"iga_nonexistent_key_xyz is not a valid IGA config key.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"44-ZKmnI/6pok8lKLcU1MqWvNqNQds\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "50a36867-1317-4464-9ffa-f14eaa088aaf"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 101,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
