{
  "log": {
    "_recordingName": "IgaSodPolicyOps/createPolicy()/1: Create policy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fa555b70a736d3c3065fd496a390d648",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"frodo-test-create\",\"description\":\"this is a test policy\",\"policyOwner\":{\"givenName\":\"Frodo\",\"id\":\"managed/user/0ece145b-1467-4cac-b472-f8f34dfaeef3\",\"mail\":\"test@mail.com\",\"sn\":\"Test\",\"userName\":\"frodo-test\"},\"policyRuleIds\":[\"df95d487-a251-458d-8299-14f2b131264c\"],\"policyRuleNames\":[\"test rule\"],\"active\":true,\"id\":\"e5b6a80d-a1ae-455f-830d-dc1bcc61b7cf\",\"scheduleId\":\"policySchedulee5b6a80da1ae455f830ddc1bcc61b7cf\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 66,
            "text": "{\"message\":[\"Name must be different from the existing policies.\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"42-Frk6drkQY50Jm1Fy3OndUMlAHH4\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "790f9d2c-31c7-4e47-b121-8ef9bcf4b5e7"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 177,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
