{
  "log": {
    "_recordingName": "IgaScopeOps/updateScope()/1: Update existing scope",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4309fae81f5de61e8e33fd892d0893c3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"id\":\"72c65784-c1ac-47e5-9703-ea0967487e99\",\"_rev\":0,\"name\":\"scope1\",\"description\":\"Test scope: scope1\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}}},\"permissions\":{\"viewUserAccess\":true,\"viewGrants\":true},\"entity\":{\"class\":\"managed/user\",\"type\":\"string\"}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope/72c65784-c1ac-47e5-9703-ea0967487e99"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 364,
            "text": "{\"id\":\"72c65784-c1ac-47e5-9703-ea0967487e99\",\"_rev\":3,\"name\":\"scope1\",\"description\":\"Test scope: scope1\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}}},\"permissions\":{\"viewGrants\":true,\"viewUserAccess\":true},\"entity\":{\"class\":\"managed/user\",\"type\":\"string\"},\"metadata\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"16c-3LDkJGVGnDpLAVS7XixsAgpARLQ\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "ce110fe8-41cf-405d-b193-7a5ddf640544"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 609,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
