{
  "log": {
    "_recordingName": "IgaScopeOps/updateScope()/1: Update existing scope",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6010f7e0f1c798085d511136fd175f81",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"id\":\"9db2e5b6-e9e1-483e-886a-53e2c47f8d74\",\"name\":\"testScope2\",\"description\":\"Test scope: testScope2\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{\"and\":[{\"contains\":{\"search_string\":{\"literal\":\"1\"},\"in_string\":\"user._id\"}},{\"not_contains\":{\"search_string\":{\"literal\":\"2\"},\"in_string\":\"user.accountStatus\"}},{\"or\":[{\"gte\":{\"right\":{\"literal\":1},\"left\":\"user.frIndexedInteger1\"}},{\"gt\":{\"right\":{\"literal\":2},\"left\":\"user.frIndexedInteger1\"}},{\"lte\":{\"right\":{\"literal\":3},\"left\":\"user.frIndexedInteger1\"}},{\"lt\":{\"right\":{\"literal\":4},\"left\":\"user.frIndexedInteger1\"}}]},{\"and\":[{\"equals\":{\"right\":{\"literal\":\"3\"},\"left\":\"user.accountStatus\"}},{\"not_equals\":{\"right\":{\"literal\":\"4\"},\"left\":\"user.accountStatus\"}},{\"or\":[{\"starts_with\":{\"prefix\":{\"literal\":\"5\"},\"value\":\"user.city\"}},{\"ends_with\":{\"suffix\":{\"literal\":\"6\"},\"value\":\"user.country\"}}]}]}]}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}},\"role\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"starts_with\":{\"prefix\":{\"literal\":\"1\"},\"value\":\"catalog.role._id\"}},{\"equals\":{\"right\":{\"literal\":false},\"left\":\"catalog.role.glossary.Test Boolean\"}}]}},\"entitlement\":{\"version\":\"v2\",\"filter\":{}},\"user\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"not_equals\":{\"right\":{\"literal\":\"a\"},\"left\":\"user.city\"}},{\"and\":[{\"not_equals\":{\"right\":{\"literal\":\"b\"},\"left\":\"user.country\"}}]}]}}},\"permissions\":{\"createEntitlement\":true,\"modifyEntitlement\":true,\"viewGrants\":true,\"createUser\":true,\"modifyUser\":true,\"deleteUser\":true,\"viewUserAccess\":true,\"createRole\":true,\"modifyRole\":true,\"publishRole\":true,\"deleteRole\":true}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope/9db2e5b6-e9e1-483e-886a-53e2c47f8d74"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1616,
            "text": "{\"id\":\"9db2e5b6-e9e1-483e-886a-53e2c47f8d74\",\"name\":\"testScope2\",\"description\":\"Test scope: testScope2\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{\"and\":[{\"contains\":{\"search_string\":{\"literal\":\"1\"},\"in_string\":\"user._id\"}},{\"not_contains\":{\"search_string\":{\"literal\":\"2\"},\"in_string\":\"user.accountStatus\"}},{\"or\":[{\"gte\":{\"right\":{\"literal\":1},\"left\":\"user.frIndexedInteger1\"}},{\[...]
