{
  "log": {
    "_recordingName": "IgaScopeOps/updateScope()/1: Update existing scope",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "164deb60e513832a82e56168937b6015",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"id\":\"73c690c8-8251-4914-98e4-722f762dd5ec\",\"_rev\":0,\"name\":\"test_scope_1\",\"description\":\"Test scope: test_scope_1\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}}},\"permissions\":{\"viewUserAccess\":true,\"viewGrants\":true},\"entity\":{\"class\":\"managed/user\",\"type\":\"string\"}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope/73c690c8-8251-4914-98e4-722f762dd5ec"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 77,
            "text": "{\"message\":\"Cannot find scope with id: 73c690c8-8251-4914-98e4-722f762dd5ec\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4d-E2wTnPcpdC0U92AkFqr2jMJWGyU\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "7dd685a0-33a8-43b0-b235-5f7589715efb"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 211,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
