{
  "log": {
    "_recordingName": "AuthenticationSettingsOps/Classic Tests/readAuthenticationSettings()/3: Read Realm AuthenticationSettings",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "011d22df4815560b84d2c34a13278ef2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-cacef348-6ec4-4d77-a3d9-0b8a9034c988"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/realms/root/realm-config/authentication"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1299,
            "text": "{\"_id\":\"\",\"_rev\":\"-2141370265\",\"postauthprocess\":{\"usernameGeneratorClass\":\"com.sun.identity.authentication.spi.DefaultUserIDGenerator\",\"usernameGeneratorEnabled\":true,\"loginPostProcessClass\":[],\"loginSuccessUrl\":[\"/am/console\"],\"userAttributeSessionMapping\":[],\"loginFailureUrl\":[]},\"security\":{\"zeroPageLoginEnabled\":false,\"zeroPageLoginReferrerWhiteList\":[],\"zeroPageLoginAllowedWithoutReferrer\":true,\"moduleBasedAuthEnabled\":true,\"sharedSecret\":null,\"addClearSiteDataHeader\":true},\"trees\":{\"suspendedAuthenticationTimeout\":5,\"authenticationSessionsStateManagement\":\"JWT\",\"authenticationSessionsMaxDuration\":5,\"authenticationTreeCookieHttpOnly\":true,\"authenticationSessionsWhitelist\":false},\"accountlockout\":{\"loginFailureLockoutMode\":false,\"storeInvalidAttemptsInDataStore\":true,\"lockoutDuration\":0,\"lockoutDurationMultiplier\":1,\"lockoutWarnUserCount\":0,\"loginFailureCount\":5,\"loginFailureDuration\":300},\"core\":{\"adminAuthModule\":\"ldapService\",\"orgConfig\":\"ldapService\"},\"general\":{\"userStatusCallbackPlugins\":[],\"statelessSessionsEnabled\":false,\"locale\":\"en_US\",\"twoFactorRequired\":false,\"identityType\":[\"agent\",\"user\"],\"defaultAuthLevel\":0},\"userprofile\":{\"dynamicProfileCreation\":\"false\",\"defaultRole\":[],\"aliasAttributeName\":[\"uid\"]},\"_type\":{\"_id\":\"EMPTY\",\"name\":\"Core\",\"collection\":false}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-2141370265\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 6,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
