{
  "log": {
    "_recordingName": "IgaScopeOps/readScopes()/1: Read all scopes",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e7cd3b87a8fac53fbc7ad4f476537527",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope?_queryFilter=true&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1977,
            "text": "{\"result\":[{\"id\":\"0c059c42-d919-4b94-8119-f5e6e1501034\",\"_rev\":1,\"name\":\"test_scope_4\",\"description\":\"Test scope: test_scope_4\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}}},\"permissions\":{\"viewGrants\":true,\"viewUserAccess\":true},\"entity\":{\"class\":\"managed/user\",\"type\":\"string\"},\"metadata\":{\"modifiedDate\":\"2026-05-20T17:46:15.799620634Z\",\"createdDate\":\"2026-05-20T17:46:15.799618945Z\"}},{\"id\":\"59d38f3a-fbc5-4ca4-880b-e8dd7e19e990\",\"_rev\":1,\"name\":\"test_scope_2\",\"description\":\"Test scope: test_scope_2\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}}},\"permissions\":{\"viewGrants\":true,\"viewUserAccess\":true},\"entity\":{\"class\":\"managed/user\",\"type\":\"string\"},\"metadata\":{\"modifiedDate\":\"2026-05-20T17:46[...]
