{
  "log": {
    "_recordingName": "IgaGlossaryOps/createGlossarySchema()/1: Create Glossary Schema Export Template",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "45c44345fdf65551bee40987654562d8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"testRole\",\"description\":\"Test Role Description\",\"displayName\":\"Test Role Display Name\",\"type\":\"managedObject\",\"objectType\":\"/openidm/managed/assignment\",\"isMultiValue\":false,\"enumeratedValues\":[],\"searchable\":false,\"allowedValues\":[],\"managedObjectType\":\"/openidm/managed/role\",\"id\":\"346431eb-fbdf-409d-8b7a-650dd02b0e7e\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/glossary/schema"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 331,
            "text": "{\"name\":\"testRole\",\"description\":\"Test Role Description\",\"displayName\":\"Test Role Display Name\",\"type\":\"managedObject\",\"objectType\":\"/openidm/managed/assignment\",\"isMultiValue\":false,\"enumeratedValues\":[],\"searchable\":false,\"allowedValues\":[],\"managedObjectType\":\"/openidm/managed/role\",\"id\":\"2b899bc7-e5f2-4a81-b5e9-7917e2db56af\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"14b-+NPK7nuIIqiEkcKZRof/5ATkwts\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "13644f89-3248-4576-8275-8d4b24b9c95d"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 848,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
