{
  "log": {
    "_recordingName": "IgaConfigOps/updateConfigByKey()/1: Update existing config key",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b4ea4f03e1e6edbb691aa55f819fed76",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/config/iga_global"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 23,
            "text": "{\"enableScoping\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"17-0Zg+gK0zwxg3L/AB2nSp3PbdQH8\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "ae196d52-b819-4cc4-bfbc-1d394822310d"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1795,
      },
      {
        "_id": "d2ccd959e69e54ba89c1e86d7d730eba",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"enableScoping\":false}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/config/iga_global"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 23,
            "text": "{\"enableScoping\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"17-0Zg+gK0zwxg3L/AB2nSp3PbdQH8\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "9896836f-1330-44de-a621-bf9574ecb479"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1931,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
