{
  "log": {
    "_recordingName": "SecretStoreOps/exportSecretStores()/1: Export realm SecretStores",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6baad0bba4f335062a535223ebb6dd9f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-37cebf68-0350-475f-9660-956188cc34a0"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "_action",
              "value": "nextdescendents"
            }
          ],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/realms/root/realm-config/secrets/stores?_action=nextdescendents"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 249,
            "text": "{\"result\":[{\"project\":\"Test Project\",\"expiryDurationSeconds\":600,\"serviceAccount\":\"default\",\"secretFormat\":\"PLAIN\",\"_id\":\"Test Secret Store\",\"_type\":{\"_id\":\"GoogleSecretManagerSecretStoreProvider\",\"name\":\"Google Secret Manager\",\"collection\":true}}]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 17,
      },
      {
        "_id": "6e96680a6a65d3040c8c45efc122060d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-37cebf68-0350-475f-9660-956188cc34a0"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/realms/root/realm-config/secrets/stores/GoogleSecretManagerSecretStoreProvider/Test%20Secret%20Store/mappings?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 138,
            "text": "{\"result\":[],\"resultCount\":0,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 11,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
