{
  "log": {
    "_recordingName": "IgaSodPolicyOps/deletePolicy()/1: Delete existing policy by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "12cf9b4ac6caa1762a2dba2a0af0eaa0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "name eq \"frodo-test-delete-by-id\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy?_queryFilter=name%20eq%20%22frodo-test-delete-by-id%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 643,
            "text": "{\"result\":[{\"name\":\"frodo-test-delete-by-id\",\"description\":\"this is a test policy\",\"policyOwner\":{\"givenName\":\"Frodo\",\"id\":\"managed/user/0ece145b-1467-4cac-b472-f8f34dfaeef3\",\"mail\":\"test@mail.com\",\"sn\":\"Test\",\"userName\":\"frodo-test\"},\"policyRuleIds\":[\"df95d487-a251-458d-8299-14f2b131264c\"],\"policyRuleNames\":[\"test rule\"],\"active\":true,\"id\":\"9c20b277-1b23-4193-9772-7d800109c93a\",\"scheduleId\":\"policySchedulea2222222222222222222222222222222\",\"metadata\":{\"modifiedDate\":\"2026-06-05T20:35:32.028581532Z\",\"createdDate\":\"2026-06-05T20:35:32.028579169Z\"}}],\"searchAfterKey\":[\"9c20b277-1b23-4193-9772-7d800109c93a\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"283-XAMV75mTL3G+MZnjzu0thXBxOuk\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "5fcc5cd6-fabc-4be0-aed0-828865ebdf17"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 175,
      },
      {
        "_id": "2c3255a87746851ec92910d1f176519f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy/9c20b2[...]
