{
  "log": {
    "_recordingName": "IgaCertificationTemplateOps/exportCertificationTemplates()/1: Export existing certification templates with dependencies",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ec72de584fcc0924155fd96c72a0fbbf",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "pageSize",
              "value": "10000"
            },
            {
              "name": "pageNumber",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/certification/template/search?pageSize=10000&pageNumber=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 44366,
            "text": "{\"result\":[{\"allowBulkCertify\":true,\"allowPartialSignoff\":true,\"allowSelfCertification\":false,\"assignmentNotification\":\"emailTemplate/certificationAssigned\",\"assignmentNotificationIncludeManager\":false,\"certificationType\":\"identity\",\"defaultCertifierId\":\"managed/user/0f2b6cba-0124-4846-afc2-f944acf09c58\",\"defaultCertifierInfo\":{\"givenName\":\"ChildOne\",\"id\":\"0f2b6cba-0124-4846-afc2-f944acf09c58\",\"mail\":\"pholderness+c1admin@trivir.com\",\"sn\":\"Admin\",\"userName\":\"phh-child1-org-admin\"},\"description\":\"The user's sunset date has changed. Certify access.\",\"enableForward\":true,\"enableReassign\":true,\"escalationFrequency\":null,\"escalationNotification\":null,\"escalationOwner\":null,\"events\":{\"assignment\":{\"notification\":\"emailTemplate/certificationAssigned\"},\"reassign\":{\"notification\":\"emailTemplate/certificationReassigned\"}},\"exceptionDuration\":14,\"excludeConditionalAccess\":true,\"excludeRoleBasedAccess\":true,\"expirationAction\":null,\"expirationActionDelay\":0,\"expirationNotification\":null,\"expirationReassignee\":null,\"finalizeRule\":\"\",\"id\":\"055dfbc9-367e-441e-8b12-199b9dd5ce19\",\"initializeRule\":\"\",\"isEventBased\":false,\"name\":\"Sunset date change {{YYYY-MM-DD}} for {{IGA_PARAM_userDisplayName_IGA_PARAM}}\",\"ownerId\":\"managed/user/0f2b6cba-0124-4846-afc2-f944acf09c58\",\"ownerInfo\":{\"givenName\":\"ChildOne\",\"id\":\"0f2b6cba-0124-4846-afc2-f944acf09c58\",\"mail\":\"pholderness+c1admin@trivir.com\",\"sn\":\"Admin\",\"userName\":\"phh-child1-org-admin\"},\"parameters\":[{\"id\":\"userId\",\"displayName\":\"ID of user this campaign will target\",\"type\":\"string\"},{\"id\":\"eventName\",\"displayName\":\"Name of the event triggering this campaign\",\"type\":\"string\"},{\"id\":\"userDisplayName\",\"displayName\":\"Display friendly name of user this campaign targets\",\"type\":\"string\"}],\"reassignNotification\":\"emailTemplate/certificationReassigned\",\"reassignPermissions\":{\"certify\":true,\"claim\":true,\"comment\":true,\"delegate\":true,\"exception\":true,\"forward\":true,\"reassign\":true,\"reset\":true,\"revoke\":true,\"save\":true,\"signoff\":true},\"remediationDelay\":0,\"remediationRule\":\"BasicRevocation\",\"reminderFrequency\":0,\"reminderNotification\":null,\"requireJustification\":{\"exceptionAllowed\":true,\"revoke\":true},\"selfCertificationRule\":\"none\",\"skipInactiveCertifiers\":false,\"stageDuration\":14,\"stages\":[{\"certifierId\":null,\"certifierPath\":null,\"certifierScript\":null,\"certifierType\":\"manager\"}],\"stagingEnabled\":false,\"status\":\"active\",\"targetFilter\":{\"account\":{\"operand\":[],\"operator\":\"ALL\"},\"application\":{\"operand\":{\"targetName\":\"authoritative\",\"targetValue\":false},\"operator\":\"EQUALS\"},\"decision\":{\"operand\":[],\"operator\":\"ALL\"},\"entitlement\":{\"operand\":[],\"operator\":\"ALL\"},\"memberOfOrg\":[],\"role\":{\"operand\":[],\"operator\":\"ALL\"},\"type\":[\"accountGrant\",\"entitlementGrant\",\"roleMembership\",\"AccountGrant\",\"ResourceGrant\"],\"user\":{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"id\",\"targetValue\":\"{{IGA_PARAM_userId_IGA_PARAM}}\"}}},\"templateEventType\":\"user\",\"uiConfig\":{\"columnConfig\":{\"accounts\":[\"user.user\",\"application.application\",\"review.flags\",\"review.comments\"],\"entitlements\":[\"user.user\",\"application.application\",\"entitlement.entitlement\",\"account.account\",\"review.flags\",\"review.comments\"],\"roles\":[\"role.role\",\"user.user\",\"review.flags\",\"review.comments\"]}},\"scheduleId\":null,\"metadata\":{\"modifiedDate\":\"2026-07-16T18:19:45.07Z\",\"createdDate\":\"2026-05-19T19:59:35.81517713Z\"}},{\"status\":\"pending\",\"name\":\"Preston Hales\",\"description\":\"asdf\",\"isEventBased\":false,\"stagingEnabled\":true,\"skipInactiveCertifiers\":false,\"allowSelfCertification\":false,\"selfCertificationRule\":\"none\",\"enableForward\":true,\"enableReassign\":true,\"reassignPermissions\":{\"certify\":true,\"comment\":true,\"claim\":true,\"delegate\":true,\"exception\":true,\"forward\":true,\"reassign\":true,\"reset\":true,\"revoke\":true,\"save\":true,\"signoff\":true},\"exceptionDuration\":14,\"allowBulkCertify\":true,\"allowPartialSignoff\":true,\"remediationRule\":\"BasicRevocation\",\"initializeRule\":\"\",\"finalizeRule\":\"\",\"certificationType\":\"entitlementComposition\",\"ownerId\":\"managed/user/9de92b26-e91e-44b7-ac81-7ae1c6adf9ad\",\"stageDuration\":14,\"expirationAction\":\"reassign\",\"expirationActionDelay\":0,\"expirationReassignee\":\"managed/role/29c86fc6-43cd-4709-9ac6-0bc8ac6542fa\",\"stages\":[{\"certifierType\":\"user\",\"certifierId\":\"managed/user/9de92b26-e91e-44b7-ac81-7ae1c6adf9ad\",\"certifierScript\":null,\"certifierPath\":null,\"certifierInfo\":{\"givenName\":\"csv\",\"id\":\"9de92b26-e91e-44b7-ac81-7ae1c6adf9ad\",\"mail\":\"1csv@example.com\",\"sn\":\"one\",\"userName\":\"1csv\"}}],\"defaultCertifierId\":\"managed/user/9de92b26-e91e-44b7-ac81-7ae1c6adf9ad\",\"assignmentNotificationIncludeManager\":false,\"remediationDelay\":0,\"targetFilter\":{\"type\":[\"entitlement\"],\"application\":{\"operator\":\"OR\",\"operand\":[{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"glossary.sensitive\",\"targetValue\":\"asdf\"}}]},\"memberOfOrg\":[],\"entitlement\":{\"operator\":\"OR\",\"operand\":[{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"glossary.requestable\",\"targetValue\":true}}]},\"decision\":{\"operator\":\"OR\",\"operand\":[{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"campaignId\",\"targetValue\":\"asdf\"}}]}},\"events\":{\"assignment\":{\"notification\":\"emailTemplate/certificationAssigned\"},\"reassign\":{\"notification\":\"emailTemplate/certificationReassigned\"},\"reminder\":{\"notification\":\"emailTemplate/delegationAssigned\",\"frequency\":1,\"includeActor\":true},\"expirationNotification\":{\"notification\":\"emailTemplate/certificationEscalated\",\"includeActor\":true},\"escalation\":{\"action\":\"notification\",\"frequency\":7,\"notification\":\"emailTemplate/certificationEscalated\",\"actors\":[{\"type\":\"role\",\"id\":\"managed/role/29c86fc6-43cd-4709-9ac6-0bc8ac6542fa\"}]}},\"requireJustification\":{\"revoke\":true,\"exceptionAllowed\":true},\"uiConfig\":{\"columnConfig\":{\"entitlementComposition\":[\"application.application\",\"entitlement.entitlement\",\"review.flags\",\"review.comments\",\"application.aiagentprivileges._ref\",\"application.glossary.sensitive\",\"application.description\",\"application.glossary.lineOfBusiness\",\"application.name\",\"entitlement.glossary.CP-DummyEntitlement\",\"entitlement.glossary.brycenTestItem\",\"entitlement.glossary.description\",\"entitlement.glossary.entitlementOwner\",\"entitlement.glossary.entitlementType\",\"entitlement.glossary.isPrivileged\",\"entitlement.glossary.sensitive\",\"entitlement.displayName\",\"entitlement.glossary.parentEntitlement\",\"entitlement.glossary.requestable\"]},\"columnSortConfig\":{\"entitlementComposition\":[\"entitlement.glossary.isPrivileged\",\"entitlement.displayName\"]}},\"ownerInfo\":{\"givenName\":\"csv\",\"id\":\"9de92b26-e91e-44b7-ac81-7ae1c6adf9ad\",\"mail\":\"1csv@example.com\",\"sn\":\"one\",\"userName\":\"1csv\"},\"defaultCertifierInfo\":{\"givenName\":\"csv\",\"id\":\"9de92b26-e91e-44b7-ac81-7ae1c6adf9ad\",\"mail\":\"1csv@example.com\",\"sn\":\"one\",\"userName\":\"1csv\"},\"expirationReassigneeInfo\":{\"id\":\"29c86fc6-43cd-4709-9ac6-0bc8ac6542fa\",\"name\":\"Colton-Test\"},\"id\":\"076391b9-7d1d-43b7-aeb1-bdcd20be1d66\",\"scheduleId\":\"templateSchedule076391b97d1d43b7aeb1bdcd20be1d66\",\"metadata\":{\"modifiedDate\":\"2026-09-10T17:45:04.833Z\",\"createdDate\":\"2026-09-10T17:45:03.907831359Z\"}},{\"status\":\"pending\",\"name\":\"asdfasdf2\",\"description\":\"\",\"isEventBased\":false,\"stagingEnabled\":false,\"schedule\":null,\"skipInactiveCertifiers\":false,\"allowSelfCertification\":false,\"selfCertificationRule\":\"none\",\"enableForward\":true,\"enableReassign\":true,\"reassignPermissions\":{\"certify\":true,\"comment\":true,\"claim\":true,\"delegate\":true,\"exception\":true,\"forward\":true,\"reassign\":true,\"reset\":true,\"revoke\":true,\"save\":true,\"signoff\":true},\"exceptionDuration\":14,\"allowBulkCertify\":true,\"allowPartialSignoff\":false,\"remediationRule\":null,\"initializeRule\":\"\",\"finali[...]
