{
  "log": {
    "_recordingName": "IgaConfigOps/exportConfigByKey()/2: Export non-existing config key",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "10c280993c0286ca29d8e50ad4503016",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/config/iga_nonexistent_key_xyz"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 68,
            "text": "{\"message\":\"iga_nonexistent_key_xyz is not a valid IGA config key.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"44-ZKmnI/6pok8lKLcU1MqWvNqNQds\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "2db2cd62-be7d-4078-9572-c7d8ec6a1584"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 112,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
