{
  "log": {
    "_recordingName": "IgaScopeOps/importScopes()/2: Import by ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "dbc58f19ad1f3b07280ef86bb2527e4b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"id\":\"73c690c8-8251-4914-98e4-722f762dd5ec\",\"_rev\":0,\"name\":\"test_scope_1\",\"description\":\"Test scope: test_scope_1\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}}},\"permissions\":{\"viewUserAccess\":true,\"viewGrants\":true},\"entity\":{\"class\":\"managed/user\",\"type\":\"string\"}}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 360,
            "text": "{\"id\":\"52f625d3-906f-4051-ab83-a2bbd5d0afbf\",\"_rev\":1,\"name\":\"test_scope_1\",\"description\":\"Test scope: test_scope_1\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}}},\"permissions\":{\"viewGrants\":true,\"viewUserAccess\":true},\"entity\":{\"class\":\"managed/user\",\"type\":\"string\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"168-3SwJrqvTKP8C81nVhgavX5qRZdM\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "b3e1b22e-78f5-4c32-bece-0acdcf386604"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 797,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
