{
  "log": {
    "_recordingName": "IgaScopeOps/importScopes()/2: Import by ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "286db37566f59f0f218da453e708e6bc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"id\":\"72c65784-c1ac-47e5-9703-ea0967487e99\",\"_rev\":0,\"name\":\"scope1\",\"description\":\"Test scope: scope1\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}}},\"permissions\":{\"viewUserAccess\":true,\"viewGrants\":true},\"entity\":{\"class\":\"managed/user\",\"type\":\"string\"}}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 348,
            "text": "{\"id\":\"fcdcbf75-d18c-4884-96d2-9d3cad6814e5\",\"_rev\":1,\"name\":\"scope1\",\"description\":\"Test scope: scope1\",\"status\":\"active\",\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{}}},\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{}}},\"permissions\":{\"viewGrants\":true,\"viewUserAccess\":true},\"entity\":{\"class\":\"managed/user\",\"type\":\"string\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"15c-HrGf0APjgGDRF/Dx3D3PC4W5sgw\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "af99f084-6894-41e5-8bc9-214b7aa2cdab"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 614,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
