{
  "log": {
    "_recordingName": "AgentOps/Cloud Tests/deleteAgents()/1: Delete all agents",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fcc396b658a463f5eb6568d38e2d731f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8e876347-3b85-406f-9ac8-831b077b2c39"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/IdentityGatewayAgent?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 2255,
            "text": "{\"result\":[{\"_id\":\"FrodoOpsTestGatewayAgent1\",\"_rev\":\"1953909377\",\"secretLabelIdentifier\":null,\"igTokenIntrospection\":\"Realm_Subs\",\"igCdssoLoginUrlTemplate\":null,\"status\":\"Active\",\"igCdssoRedirectUrls\":[\"https://ig.mytestrun.com/expanse/cdsso/redirect\",\"https://ig.mytestrun.com/ig/cdsso/redirect\",\"https://ig.scheuber.io/ig/studio/cdsso/redirect\",\"https://ig.mytestrun.com/grafana/cdsso/redirect\",\"https://ig.mytestrun.com/ig-sample-app/cdsso/redirect\",\"https://ig.mytestrun.com/bi/cdsso/redirect\",\"https://ig.mytestrun.com/prometheus/cdsso/redirect\",\"https://ig.mytestrun.com/ig/studio/cdsso/redirect\",\"https://ig.mytestrun.com/forgerock/cdsso/redirect\"],\"agentgroup\":null,\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}},{\"_id\":\"FrodoOpsTestGatewayAgent8\",\"_rev\":\"-1901768347\",\"secretLabelIdentifier\":null,\"igTokenIntrospection\":\"Realm_Subs\",\"igCdssoLoginUrlTemplate\":null,\"status\":\"Active\",\"igCdssoRedirectUrls\":[],\"agentgroup\":null,\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}},{\"_id\":\"FrodoOpsTestGatewayAgent9\",\"_rev\":\"1953909369\",\"secretLabelIdentifier\":null,\"igTokenIntrospection\":\"Realm_Subs\",\"igCdssoLoginUrlTemplate\":null,\"status\":\"Active\",\"igCdssoRedirectUrls\":[\"https://ig.mytestrun.com/expanse/cdsso/redirect\",\"https://ig.mytestrun.com/ig/cdsso/redirect\",\"https://ig.scheuber.io/ig/studio/cdsso/redirect\",\"https://ig.mytestrun.com/grafana/cdsso/redirect\",\"https://ig.mytestrun.com/ig-sample-app/cdsso/redirect\",\"https://ig.mytestrun.com/bi/cdsso/redirect\",\"https://ig.mytestrun.com/prometheus/cdsso/redirect\",\"https://ig.mytestrun.com/ig/studio/cdsso/redirect\",\"https://ig.mytestrun.com/forgerock/cdsso/redirect\"],\"agentgroup\":null,\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}},{\"_id\":\"FrodoOpsTestGatewayAgent7\",\"_rev\":\"-1901768348\",\"secretLabelIdentifier\":null,\"igTokenIntrospection\":\"Realm_Subs\",\"igCdssoLoginUrlTemplate\":null,\"status\":\"Active\",\"igCdssoRedirectUrls\":[],\"agentgroup\":null,\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}}],\"resultCount\":4,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"EXACT\",\"totalPagedResults\":4,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0, resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8e876347-3b85-406f-9ac8-831b077b2c39"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 76,
      },
      {
        "_id": "58e82498bfa5079883e52d1a0b52b452",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8e876347-3b85-406f-9ac8-831b077b2c39"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/J2EEAgent?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 21498,
            "text": "{\"result\":[{\"_id\":\"FrodoOpsTestJavaAgent9\",\"_rev\":\"362051141\",\"ssoJ2EEAgentConfig\":{\"encodeCookies\":false,\"cookieResetDomains\":{},\"authExchangeUri\":null,\"authExchangeCookieName\":null,\"setCookieInternalMap\":{},\"excludedUserAgentsList\":[],\"cdssoRedirectUri\":\"/agentapp/post-authn-redirect\",\"cookieResetPaths\":{},\"cdssoSecureCookies\":false,\"acceptSsoTokenEnabled\":false,\"acceptSsoTokenDomainList\":[\"\"],\"cdssoDomainList\":[\"\"],\"setCookieAttributeMap\":{},\"cookieResetEnabled\":false,\"cookieResetNames\":[\"\"],\"acceptIPDPCookie\":false,\"httpOnly\":true},\"amServicesJ2EEAgent\":{\"urlPolicyEnvPostParameters\":[\"\"],\"policyEvaluationRealm\":\"/alpha\",\"authServiceHost\":\"openam-volker-dev.forgeblocks.com\",\"policyNotifications\":true,\"conditionalLoginUrl\":[\"|?realm=/alpha\"],\"customLoginEnabled\":false,\"legacyLoginUrlList\":[\"\"],\"agentAdviceEncode\":false,\"authServicePort\":443,\"urlPolicyEnvGetParameters\":[\"\"],\"restrictToRealm\":{},\"urlPolicyEnvJsessionParameters\":[\"\"],\"amLoginUrl\":[],\"conditionalLogoutUrl\":[\"\"],\"authServiceProtocol\":\"https\",\"policyEvaluationApplication\":\"apps\",\"authSuccessRedirectUrl\":false,\"strategyWhenAMUnavailable\":\"EVAL_NER_USE_CACHE_UNTIL_EXPIRED_ELSE_503\",\"overridePolicyEvaluationRealmEnabled\":false},\"applicationJ2EEAgentConfig\":{\"profileAttributeFetchMode\":\"NONE\",\"notEnforcedUris\":[\"\"],\"notEnforcedIpsCacheEnabled\":true,\"logoutIntrospection\":false,\"invertNotEnforcedUris\":false,\"cookieAttributeUrlEncoded\":true,\"cookieAttributeMultiValueSeparator\":\"|\",\"notEnforcedRuleCompoundSeparator\":\"|\",\"logoutRequestParameters\":{},\"resourceAccessDeniedUri\":{},\"continuousSecurityCookies\":{},\"responseAttributeFetchMode\":\"NONE\",\"notEnforcedUrisCacheEnabled\":true,\"headerAttributeDateFormat\":\"EEE, d MMM yyyy hh:mm:ss z\",\"profileAttributeMap\":{},\"sessionAttributeFetchMode\":\"NONE\",\"continuousSecurityHeaders\":{},\"responseAttributeMap\":{},\"notEnforcedUrisCacheSize\":1000,\"invertNotEnforcedIps\":false,\"sessionAttributeMap\":{},\"clientIpValidationRange\":{},\"notEnforcedIpsCacheSize\":1000,\"clientIpValidationMode\":{\"\":\"OFF\"},\"notEnforcedFavicon\":true,\"logoutEntryUri\":{},\"notEnforcedIps\":[\"\"],\"applicationLogoutUris\":{}},\"globalJ2EEAgentConfig\":{\"userTokenName\":\"UserToken\",\"secretLabelIdentifier\":null,\"fqdnDefault\":\"apps2.mytestrun.com\",\"recheckAmUnavailabilityInSeconds\":5,\"httpSessionBinding\":true,\"webSocketConnectionIntervalInMinutes\":30,\"localAuditLogRotation\":false,\"filterMode\":{\"\":\"URL_POLICY\"},\"debugLogfileRotationSize\":52428800,\"status\":\"Active\",\"debugLevel\":\"message\",\"lbCookieName\":\"amlbcookie\",\"auditLogLocation\":\"ALL\",\"lbCookieEnabled\":false,\"userPrincipalFlag\":false,\"fqdnCheck\":false,\"preAuthCookieMaxAge\":300,\"localAuditRotationSize\":52428800,\"fqdnMapping\":{},\"debugLogfileRotationMinutes\":-1,\"loginAttemptLimit\":0,\"auditAccessType\":\"LOG_NONE\",\"redirectAttemptLimitCookieName\":\"amFilterRDParam\",\"debugLogfileRetentionCount\":-1,\"configurationReloadInterval\":10,\"agentgroup\":null,\"debugLogfileSuffix\":\"-yyyy.MM.dd-HH.mm.ss\",\"userAttributeName\":\"uid\",\"localAuditLogfileRetentionCount\":-1,\"customResponseHeader\":{},\"redirectAttemptLimit\":0,\"userMappingMode\":\"USER_ID\",\"jwtName\":\"am-auth-jwt\",\"repositoryLocation\":\"centralized\",\"loginAttemptLimitCookieName\":\"amFilterParam\",\"cdssoRootUrl\":[\"agentRootURL=http://localhost:8080/\",\"agentRootURL=https://apps2.mytestrun.com:443/\"],\"agentConfigChangeNotificationsEnabled\":false,\"debugLogfilePrefix\":null,\"preAuthCookieName\":\"amFilterCDSSORequest\"},\"advancedJ2EEAgentConfig\":{\"postDataStickySessionKeyValue\":null,\"xssDetectionRedirectUri\":{},\"postDataCacheTtlMin\":5,\"jwtCacheSize\":5000,\"postDataPreservation\":false,\"policyCacheSize\":5000,\"postDataPreserveCacheEntryMaxEntries\":1000,\"postDataPreserveCacheEntryMaxTotalSizeMb\":-1,\"ssoExchangeCacheSize\":100,\"sessionCacheTTL\":15,\"idleTimeRefreshWindow\":1,\"ssoExchangeCacheTTL\":5,\"possibleXssCodeElements\":[\"\"],\"alternativeAgentPort\":null,\"policyClientPollingInterval\":3,\"missingPostDataPreservationEntryUri\":[\"\"],\"alternativeAgentProtocol\":null,\"clientIpHeader\":null,\"retainPreviousOverrideBehavior\":true,\"postDataPreserveMultipartLimitBytes\":104857600,\"jwtCacheTTL\":30,\"customProperties\":[],\"policyCachePerUser\":50,\"expiredSessionCacheTTL\":20,\"fragmentRelayUri\":null,\"postDataStickySessionMode\":\"URL\",\"alternativeAgentHostname\":null,\"expiredSessionCacheSize\":500,\"clientHostnameHeader\":null,\"monitoringToCSV\":false,\"postDataPreserveMultipartParameterLimitBytes\":104857600},\"miscJ2EEAgentConfig\":{\"legacyUserAgentList\":[\"Mozilla/4.7*\"],\"loginReasonMap\":{},\"authFailReasonParameterRemapper\":{},\"agent302RedirectStatusCode\":200,\"loginReasonParameterName\":null,\"gotoUrl\":null,\"localeLanguage\":\"en\",\"authFailReasonParameterName\":null,\"unwantedHttpUrlParams\":[\"\"],\"agent302RedirectContentType\":\"application/json\",\"agent302RedirectEnabled\":true,\"legacyUserAgentSupport\":false,\"wantedHttpUrlParams\":[\"\"],\"ignorePathInfo\":false,\"agent302RedirectInvertEnabled\":false,\"wantedHttpUrlRegexParams\":[\"\"],\"localeCountry\":\"US\",\"agent302RedirectHttpData\":\"{redirect:{requestUri:%REQUEST_URI%,requestUrl:%REQUEST_URL%,targetUrl:%TARGET%}}\",\"agent302RedirectNerList\":[\"\"],\"legacyRedirectUri\":\"/app1/sunwLegacySupportURI\",\"portCheckFile\":\"PortCheckContent.txt\",\"authFailReasonUrl\":null,\"gotoParameterName\":\"goto\",\"portCheckSetting\":{\"443\":\"https\"},\"unwantedHttpUrlRegexParams\":[\"\"],\"portCheckEnabled\":false},\"_type\":{\"_id\":\"J2EEAgent\",\"name\":\"J2EE Agents\",\"collection\":true}},{\"_id\":\"FrodoOpsTestJavaAgent7\",\"_rev\":\"362051135\",\"ssoJ2EEAgentConfig\":{\"encodeCookies\":false,\"cookieResetDomains\":{},\"authExchangeUri\":null,\"authExchangeCookieName\":null,\"setCookieInternalMap\":{},\"excludedUserAgentsList\":[],\"cdssoRedirectUri\":\"/agentapp/post-authn-redirect\",\"cookieResetPaths\":{},\"cdssoSecureCookies\":false,\"acceptSsoTokenEnabled\":false,\"acceptSsoTokenDomainLis[...]
