{
  "log": {
    "_recordingName": "IgaScopeOps/readScopeEntities()/1: Read scope entities",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d342dfafc1d623d7dcdaf06e512ea64b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope/entity"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 31,
            "text": "{\"entities\":[\"user\",\"catalog\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1f-ludglbpJr/T89WNJYG0l/l8rkgg\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "f7bd6b1b-4509-4b06-9298-552a9845e782"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 140,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
