{
  "log": {
    "_recordingName": "IgaConfigOps/importConfig()/1: Import full config",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "edb70b289ed90e0a33ac759bd2e9b436",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/config"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1441,
            "text": "{\"feature_recommendation\":{},\"iga_autoid_integration\":{\"enableAutoId\":false,\"highScorePercentThreshold\":80,\"mediumScorePercentThreshold\":50,\"lowScorePercentThreshold\":30,\"training_features_filter\":[\"user.managerId\"],\"roleMiningConfidenceThreshold\":0.75,\"roleMiningMembershipThreshold\":30,\"roleMiningEntitlementThreshold\":1,\"enableFeatureRecommendation\":true,\"maxRecommendedFeatures\":10,\"featuresToSkipDuringRecommendation\":[\"_eventMetadata\",\"_rev\",\"accountStatus\",\"assignedDashboard\",\"cn\",\"entityType\",\"fr\",\"givenName\",\"id\",\"mail\",\"manager\",\"metadata\",\"sn\",\"userId\",\"userName\",\"passwordLastChangedTime\",\"passwordExpirationTime\",\"scopes\",\"adminOfOrg\",\"memberOfOrg\",\"ownerOfApp\",\"ownerOfOrg\",\"roles\",\"authzRoles\",\"applications\",\"assignments\",\"groups\",\"reports\"]},\"iga_access_request\":{\"requireRequestJustification\":false,\"requireRejectJustification\":false,\"requireApproveJustification\":false,\"preventRequestWithViolation\":false,\"requireRequestJustificationWithViolation\":false,\"defaultApprover\":\"managed/role/8b470ae7-d40a-4f6a-87cd-b39c2f144fe7\",\"allowSelfApproval\":false,\"maxManualRoleMembers\":1000},\"iga_notification\":{\"notificationPollingBatchSize\":50,\"notificationSendDelay\":1000,\"notificationRetryDelay\":60000,\"notificationMaxRetries\":3},\"iga-file\":{},\"iga_global\":{\"enableScoping\":false},\"iga_ui_config\":{\"lcmSettings\":{\"entitlement\":{\"enabled\":false},\"organization\":{\"enabled\":false},\"role\":{\"enabled\":false},\"user\":{\"enabled\":true}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"5a1-ZVWJc/t+04OhzdUWhQbs6hsfprA\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "e9ab9c8f-af3a-4e94-8400-ea9d13f0ac40"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 141,
      },
      {
        "_id": "bfc4e805f4576dddc922eb027d230864",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/config/feature_reco[...]
