{
  "log": {
    "_recordingName": "IgaScopeOps/readScope()/1: Read existing scope by ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "133cd94e3a5b80edd9ffd8dabf350531",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope/73c690c8-8251-4914-98e4-722f762dd5ec"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 77,
            "text": "{\"message\":\"Cannot find scope with id: 73c690c8-8251-4914-98e4-722f762dd5ec\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4d-E2wTnPcpdC0U92AkFqr2jMJWGyU\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "7b5dd8b6-a935-4704-bcf5-a17f8f9e5e2f"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 234,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
