{
  "log": {
    "_recordingName": "IgaScopeOps/readScope()/1: Read existing scope by ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "587cc4b73dbb5fd3d2e5218ae755fd51",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope/72c65784-c1ac-47e5-9703-ea0967487e99"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1062,
            "text": "{\"description\":\"\",\"id\":\"72c65784-c1ac-47e5-9703-ea0967487e99\",\"name\":\"scope1\",\"permissions\":{\"createEntitlement\":true,\"modifyEntitlement\":true,\"viewGrants\":true,\"createUser\":true,\"modifyUser\":true,\"deleteUser\":true,\"viewUserAccess\":true,\"createRole\":true,\"modifyRole\":true,\"publishRole\":true,\"deleteRole\":true},\"sourceCondition\":{\"user\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"equals\":{\"left\":\"user.city\",\"right\":{\"literal\":\"Utah\"}}}]}}},\"status\":\"active\",\"targetCondition\":{\"application\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"equals\":{\"left\":\"catalog.application.name\",\"right\":{\"literal\":\"temp\"}}}]}},\"role\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"equals\":{\"left\":\"catalog.role.description\",\"right\":{\"literal\":\"temp\"}}}]}},\"entitlement\":{\"version\":\"v2\",\"filter\":{\"and\":[{\"equals\":{\"left\":\"catalog.entitlement.descriptor.displayName\",\"right\":{\"literal\":\"temp\"}}}]}},\"user\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"equals\":{\"left\":\"user._id\",\"right\":{\"literal\":\"temp\"}}}]}}},\"_rev\":2,\"metadata\":{\"modifiedDate\":\"2026-05-21T19:45:28.478Z\",\"createdDate\":\"2026-05-21T19:44:50.554893022Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"426-xXs6e6Fifv9+vRGDTrm4TnsKJaI\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "90d7afc2-77f1-4c38-a146-962c32859e99"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 172,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
