{
  "log": {
    "_recordingName": "IgaScopeOps/deleteScope()/2: Delete non-existing scope by ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2d63bb9ce4d726c4ab5d94923ddb25bb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope/11111111-1111-1111-1111-111111111111"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 77,
            "text": "{\"message\":\"Cannot find scope with id: 11111111-1111-1111-1111-111111111111\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4d-ciw4MevTOpvTur91e47PxLlxKgg\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "c563145b-9e48-4d96-8d50-7a964f268e57"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 196,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
