name: 'Frodo Library Release Pipeline'

on:
  pull_request:
    branches:
      - 'main'
    paths-ignore:
      - '**/CODE_OF_CONDUCT.md'
      - '**/CONTRIBUTE.md'
      - '**/PIPELINE.md'
      - '**/README.md'
      - 'docs/**'
  push:
    branches:
      - 'main'
    paths-ignore:
      - '**/CODE_OF_CONDUCT.md'
      - '**/CONTRIBUTE.md'
      - '**/PIPELINE.md'
      - '**/README.md'
      - '**/pipeline.yml'
      - '**/doc.yml'
      - 'docs/**'
  workflow_dispatch:

env:
  NODE_VERSION: 24

permissions:
  contents: write
  id-token: write
      
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    if: github.repository_owner == 'trivir'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          # Need to specify ref and repository for PRs from forked repos
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      - name: Update package-log.json before version bump
        run: npm i --package-lock-only

      - name: Install dependencies
        run: npm ci

      - name: 'Prepare Version Bump'
        id: version-bump
        uses: 'phips28/gh-action-bump-version@master'
        with:
          major-wording: 'MAJOR RELEASE'
          minor-wording: 'MINOR RELEASE'
          patch-wording: 'PATCH RELEASE'
          rc-wording: ''
          tag-prefix: 'v'
          default: prerelease
          preid: ''
          bump-policy: 'ignore'
          skip-commit: 'true'
          skip-tag: 'true'
          skip-push: 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update package-log.json after version bump
        run: npm i --package-lock-only

      - name: Version From Tag
        id: version-from-tag
        run: echo "version=$(echo '${{ steps.version-bump.outputs.newTag }}' | sed 's/v//')" >> "$GITHUB_OUTPUT"

      - name: Build library
        run: npm run build

      - name: Build docs
        run: |
          npm run doc

      - name: Lint
        run: npm run lint

      - name: Security Audit
        run: npm audit --audit-level high

      - name: Zip build artifacts
        run: zip -r build.zip dist mocks package.json package-lock.json snapshotResolve.js types docs

      - uses: actions/upload-artifact@v6
        with:
          name: build
          path: |
            build.zip

    outputs:
      newTag: ${{ steps.version-bump.outputs.newTag }}
      newVersion: ${{ steps.version-from-tag.outputs.version }}
      preRelease: ${{ contains(steps.version-bump.outputs.newTag, '-') }}

  test:
    name: 'Test'
    # You must use a Linux environment when using service containers or container jobs
    runs-on: ubuntu-latest
    needs: [build]
    strategy:
      matrix:
        node-version: [25, 24, 22, 20]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    # Service containers to run with `test`
    services:
      # Label used to access the service container
      squid:
        # Docker Hub image
        image: ubuntu/squid
        #
        ports:
          # Maps tcp port 3128 on the host to the same port in the service container
          - 3128:3128

    steps:
      # Need to check out repo to get .snap and .har files for unit tests
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          # Need to specify ref and repository for PRs from forked repos
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}

      - uses: actions/download-artifact@v7
        with:
          name: build

      # need -o to overwrite package.json
      - name: Unzip build artifact
        run: unzip -o build.zip

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: |
          npm ci

      #
      # Run tests.
      #
      - name: Direct Tests
        env:
          FRODO_DEBUG: ${{ vars.FRODO_DEBUG }}
          FRODO_HOST: ${{ vars.FIDC_TENANT_URL }}
          FRODO_SA_ID: ${{ vars.FIDC_TENANT_SA_ID }}
          FRODO_SA_JWK: ${{ secrets.FIDC_TENANT_SA_JWK }}
        run: |
          npm run test

      - name: Proxy Tests
        env:
          FRODO_DEBUG: ${{ vars.FRODO_DEBUG }}
          HTTPS_PROXY: 'http://127.0.0.1:3128'
          FRODO_HOST: ${{ vars.FIDC_TENANT_URL }}
          FRODO_SA_ID: ${{ vars.FIDC_TENANT_SA_ID }}
          FRODO_SA_JWK: ${{ secrets.FIDC_TENANT_SA_JWK }}
        run: |
          npm run test

      - name: Security Audit
        run: |
          npm audit --omit=dev --audit-level high
