{
  "log": {
    "_recordingName": "IgaScopeOps/readScopeEntitySchema()/1: Read scope entity schema for known entity type",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ce737a93933aeea65179ee524ada3cd6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/scope/entity/user"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 9629,
            "text": "{\"schema\":{\"user.frIndexedString3\":{\"class\":\"json\",\"displayName\":\"Generic Indexed String 3\",\"type\":\"string\"},\"user.frIndexedString4\":{\"class\":\"json\",\"displayName\":\"Generic Indexed String 4\",\"type\":\"string\"},\"user.frIndexedString5\":{\"class\":\"json\",\"displayName\":\"Generic Indexed String 5\",\"type\":\"string\"},\"user.applications\":{\"class\":\"json\",\"displayName\":\"Applications\",\"item\":{\"type\":\"reference\",\"reference\":\"/openidm/managed/alpha_application\"},\"type\":\"array\"},\"user.frIndexedString6\":{\"class\":\"json\",\"displayName\":\"Generic Indexed String 6\",\"type\":\"string\"},\"user.ownerOfOrg\":{\"class\":\"json\",\"item\":{\"type\":\"reference\",\"reference\":\"/openidm/managed/alpha_organization\"},\"type\":\"array\"},\"user.frIndexedString7\":{\"class\":\"json\",\"displayName\":\"Generic Indexed String 7\",\"type\":\"string\"},\"user.frIndexedString8\":{\"class\":\"json\",\"displayName\":\"Generic Indexed String 8\",\"type\":\"string\"},\"user.frIndexedString9\":{\"class\":\"json\",\"displayName\":\"Generic Indexed String 9\",\"type\":\"string\"},\"user.passwordExpirationTime\":{\"class\":\"json\",\"displayName\":\"Password Expiration Time\",\"type\":\"string\"},\"user.reports\":{\"class\":\"json\",\"displayName\":\"Direct Reports\",\"item\":{\"type\":\"reference\",\"reference\":\"/openidm/managed/alpha_user\"},\"type\":\"array\"},\"user.passwordLastChangedTime\":{\"class\":\"json\",\"displayName\":\"Password Last Changed Time\",\"type\":\"string\"},\"user.timestamp\":{\"class\":\"column\",\"type\":\"date\"},\"user.manager\":{\"class\":\"json\",\"displayName\":\"Manager\",\"reference\":\"/openidm/managed/alpha_user\",\"type\":\"reference\"},\"user.aliasList\":{\"class\":\"json\",\"displayName\":\"List of identity aliases used primarily to record social IdP subjects for this user\",\"item\":{\"type\":\"string\"},\"type\":\"array\"},\"user.frIndexedString20\":{\"class\":\"json\",\"displayName\":\"Generic Indexed String 20\",\"type\":\"string\"},\"user._id\":{\"class\":\"json\",\"displayName\":\"User ID\",\"type\":\"string\"},\"user.country\":{\"class\":\"json\",\"displayName\":\"Country\",\"type\":\"string\"},\"user.stateProvince\":{\"class\":\"json\",\"displayName\":\"State/Province\",\"type\":\"string\"},\"user.oathDeviceProfiles\":{\"class\":\"json\",\"displayName\":\"Oath Device Profiles\",\"item\":{\"type\":\"string\"},\"type\":\"array\"},\"user.city\":{\"class\":\"json\",\"displayName\":\"City\",\"type\":\"string\"},\"user.givenName\":{\"class\":\"json\",\"displayName\":\"First Name\",\"type\":\"string\"},\"user.webauthnDeviceProfiles\":{\"class\":\"json\",\"displayName\":\"Web AuthN Device Profiles\",\"item\":{\"type\":\"string\"},\"type\":\"array\"},\"user.password\":{\"class\":\"json\",\"displayName\":\"Password\",\"type\":\"string\"},\"user.frUnindexedInteger5\":{\"class\":\"json\",\"displayName\":\"Generic Unindexed Integer 5\",\"type\":\"number\"},\"user.pushDeviceProfiles\":{\"class\":\"json\",\"displayName\":\"Push Device Profiles\",\"item\":{\"type\":\"string\"},\"type\":\"array\"},\"user.frIndexedInteger4\":{\"class\":\"json\",\"displayName\":\"Generic Indexed Integer 4\",\"type\":\"number\"},\"user.frIndexedInteger5\":{\"class\":\"json\",\"displayName\":\"Generic Indexed Integer 5\",\"type\":\"number\"},\"user.groups\":{\"class\":\"json\",\"displayName\":\"Groups\",\"item\":{\"type\":\"reference\",\"reference\":\"/openidm/managed/alpha_group\"},\"type\":\"array\"},\"user.deviceProfiles\":{\"class\":\"json\",\"displayName\":\"Device Profiles\",\"item\":{\"type\":\"string\"},\"type\":\"array\"},\"user.profileImage\":{\"class\":\"json\",\"displayName\":\"Profile Image\",\"type\":\"string\"},\"user.custom_RAP\":{\"class\":\"json\",\"displayName\":\"The RAP, stored as a salted hash\",\"type\":\"string\"},\"user.userName\":{\"class\":\"json\",\"displayName\":\"Username\",\"type\":\"string\"},\"user.frIndexedInteger1\":{\"class\":\"json\",\"displayName\":\"Generic Indexed Integer 1\",\"type\":\"number\"},\"user.frIndexedInteger2\":{\"class\":\"json\",\"displayName\":\"Generic Indexed Integer 2\",\"type\":\"number\"},\"user.frIndexedInteger3\":{\"class\":\"json\",\"displayName\":\"Generic Indexed Integer 3\",\"type\":\"number\"},\"user.frUnindexedString1\":{\"class\":\"json\",\"displayName\":\"Generic Unindexed String 1\",\"type\":\"string\"},\"user.frUnindexedDate2\":{\"class\":\"json\",\"displayName\":\"Generic Unindexed Date 2\",\"type\":\"string\"},\"user.frUnindexedDate1\":{\"class\":\"json\",\"displayName\":\"Generic Unindexed Date 1\",\"type\":\"string\"},\"user.frUnindexedDate4\":{\"class\":\"json\",\"displayName\":\"Generic Unindexed Date 4\",\"type\":\"string\"},\"user.frUnindexedDate3\":{\"class\":\"json\",\"displayName\":\"The date/time for when the RAP expires\",\"format\":\"datetime\",\"type\":[\"string\",\"null\"]},\"user.frUnindexedDate5\":{\"class\":\"json\",\"displayName\":\"Generic Unindexed Date 5\",\"type\":\"string\"},\"user.ownerOfApp\":{\"class\":\"json\",\"item\":{\"type\":\"reference\",\"reference\":\"/openidm/managed/alpha_application\"},\"type\":\"array\"},\"user.frUnindexedMultivalued5\":{\"class\":\"json\",\"displayName\":\"Generic Unindexed Multivalue 5\",\"item\":{\"type\":\"string\"},\"type\":\"array\"},\"user.frUnindexedMultivalued4\":{\"class\":\"json\",\"displayName\":\"Generic Unindexed Multivalue 4\",\"item\":{\"type\":\"string\"},\"type\":\"array\"},\"user.frUnindexedMultivalued3\":{\"class\":\"json\",\"displayName\":\"Generic Unindexed Multivalue 3\",\"item\":{\"type\":\"string\"},\"type\":\"array\"},\"user.devicePrintProfiles\":{\"class\":\"json\",\"displayName\":\"Device Print Profiles Information\",\"item\":{\"type\":\"string\"},\"type\":\"array\"},\"user.frUnindexedString4\":{\"class\":\"json\",\"displayName\":\"Generic Unindexed String 4\",\"type\":\"string\"},\"user.frUnindexedString5\":{\"class\":\"json\",\"displayName\":\"Generic Unindexed String 5\",\"type\":\"string\"},\"user.frUnindexedString2\":{\"class\":\"json\",\"displayName\":\"Generic Unindexed String 2\",\"type\":\"string\"},\"user.frUnindexedString3\":{\"class\":\"json\",\"displayName\":\"Generic Unindexed String 3\",\"type\":\"string\"},\"user.frIndexedDate5\":{\"class\":\"json\",\"displayName\":\"Generic Indexed Date 5\",\"type\":\"string\"},\"user.frUnindexedInteger3\":{\"class\":\"json\",\"displayName\":\"Generic Unindexed Integer 3\",\"type\":\"number\"},\"user.frIndexedDate4\":{\"class\":\"json\",\"displayName\":\"Generic Indexed Date 4\",\"type\":\"string\"},\"user.frUnindexedInteger4\":{\"class\":\"json\",\"displayName\":\"Generic Unindexed Integer 4\",\"type\":\"number\"},\"user.frUnindexedInteger1\":{\"class\":\"json\",\"displayName\":\"The number of attempts to use RAP to reset password\",\"type\":\"number\"},\"user.telephoneNumber\":{\"class\":\"json\",\"displayName\":\"Telephone Number\",\"type\":\"string\"},\"user.frUnindexedInteger2\":{\"class\":\"json\",\"displayName\":\"Generic Unindexed Integer 2\",\"type\":\"number\"},\"user.cn\":{\"class\":\"json\",\"displayName\":\"Common Name\",\"type\":\"string\"},\"user.frIndexedDate1\":{\"class\":\"json\",\"displayName\":\"Generic Indexed Date 1\",\"type\":\"string\"},\"user.frUnindexedMultivalued2\":{\"class\":\"json\",\"displayName\":\"Generic Unindexed Multivalue 2\",\"item\":{\"type\":\"string\"},\"type\":\"array\"},\"user.frUnindexedMultivalued1\":{\"class\":\"json\",\"displayName\":\"Generic Unindexed Multivalue 1\",\"item\":{\"type\":\"string\"},\"type\":\"array\"},\"user.frIndexedDate3\":{\"class\":\"json\",\"displayName\":\"Generic Indexed Date 3\",\"type\":\"string\"},\"user.frIndexedDate2\":{\"class\":\"json\",\"displayName\":\"Generic Indexed Date 2\",\"type\":\"string\"},\"user.accountStatus\":{\"class\":\"json\",\"displayName\":\"Status\",\"type\":\"string\"},\"user.sn\":{\"class\":\"json\",\"displayName\":\"Last Name\",\"type\":\"string\"},\"user.assignments\":{\"class\":\"json\",\"displayName\":\"Assignments\",\"item\":{\"type\":\"reference\",\"reference\":\"/openidm/managed/alpha_assignment\"},\"type\":\"array\"},\"user.memberOfOrg\":{\"class\":\"json\",\"item\":{\"type\":\"reference\",\"reference\":\"/openidm/managed/alpha_organization\"},\"type\":\"array\"},\"user.adminOfOrg\":{\"class\":\"json\",\"item\":{\"type\":\"reference\",\"reference\":\"/openidm/managed/alpha_organization\"},\"type\":\"array\"},\"user.description\":{\"class\":\"json\",\"displayName\":\"Description\",\"type\":\"string\"},\"user.frIndexedString19\":{\"class\":\"json\",\"displayName\":\"Generic Indexed String 19\",\"type\":\"string\"},\"user.frIndexedString18\":{\"class\":\"json\",\"displayName\":\"Generic Indexed String 18\",\"type\":\"string\"},\"user.frIndexedMultivalued1\":{\"class\":\"json\",\"displayName\":\"Generic Indexed Multivalue 1\",\"item\":{\"type\":\"string\"},\"type\":\"array\"},\"user.frIndexedString17\":{\"class\":\"json\",\"displayName\":\"Generic Indexed String 17\",\"type\":\"string\"},\"user.frIndexedString16\":{\"class\":\"json\",\"displayName\":\"Generic Indexed String 16\",\"type\":\"string\"},\"user.postalCode\":{\"class\":\"json\",\"displayName\":\"Postal Code\",\"type\":\"string\"},\"user.postalAddress\":{\"class\":\"json\",\"displayName\":\"Address 1\",\"type\":\"string\"},\"user.frIndexedString11\":{\"class\":\"json\",\"displayName\":\"Generic Indexed String 11\",\"type\":\"string\"},\"user.frIndexedString10\":{\"class\":\"json\",\"displayName\":\"Generic Indexed String 10\",\"type\":\"string\"},\"user.frIndexedMultivalued3\":{\"class\":\"json\",\"displayName\":\"Generic Indexed Multivalue 3\",\"item\":{\"type\":\"string\"},\"type\":\"array\"},\"user.frIndexedString15\":{\"class\":\"json\",\"displayName\":\"Generic Indexed String 15\",\"type\":\"string\"},\"user.mail\":{\"class\":\"json\",\"displayName\":\"Email Address\",\"type\":\"string\"},\"user.frIndexedMultivalued2\":{\"class\":\"json\",\"displayName\":\"Generic Indexed Multivalue 2\",\"item\":{\"type\":\"string\"},\"type\":\"array\"},\"user.frIndexedString14\":{\"class\":\"json\",\"displayName\":\"Generic Indexed String 14\",\"type\":\"string\"},\"user.frIndexedMultivalued5\":{\"class\":\"json\",\"displayName\":\"Generic Indexed Multivalue 5\",\"item\":{\"type\":\"string\"},\"type\":\"array\"},\"user.frIndexedString1\":{\"class\":\"json\",\"displayName\":\"Generic Indexed String 1\",\"type\":\"string\"},\"user.frIndexedString13\":{\"class\":\"json\",\"displayName\":\"Generic Indexed String 13\",\"type\":\"string\"},\"user.frIndexedMultivalued4\":{\"class\":\"json\",\"displayName\":\"Generic Indexed Multivalue 4\",\"item\":{\"type\":\"string\"},\"type\":\"array\"},\"user.frIndexedString12\":{\"class\":\"json\",\"displayName\":\"Generic Indexed String 12\",\"type\":\"string\"},\"user.frIndexedString2\":{\"class\":\"json\",\"displayName\":\"Generic Indexed String 2\",\"type\":\"string\"},\"user.roles\":{\"class\":\"json\",\"displayName\":\"Provisioning Roles\",\"item\":{\"type\":\"reference\",\"reference\":\"/openidm/managed/alpha_role\"},\"type\":\"array\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"259d-gx6w80gqWnqq9ghH23ZyO1FwQUY\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "b260b610-8e98-4a81-ae55-b019d4a2371f"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 457,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
